<a href="https://colab.research.google.com/github/D0MOVF/DATA_ACADEMY/blob/main/CourseReview3_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# review of materials 1 - 3
7+3
5*5
5**3

125

In [ ]:
21%5

VAR=56
print(VAR ,"11")

VAR != 56

VAR1 = 10
VAR2 = 11
print(VAR1 == VAR2)
print(VAR1 != VAR2)

Cities = ["Berlin","London","Paris", 55, 44, 12]
print(Cities)

type(Cities[3])
Cities.append("Moscow")
Cities.append("Zurich")
print(Cities)
Cities[3] = 22
print(Cities)
Cities.remove(12)
print(Cities)
Cities.insert(5, 32)
print(Cities)
type(Cities[6])

Animals = ["Bear","Shark","Canine"]
print(Animals)

CitiesXAnimals = Cities + Animals
print(CitiesXAnimals)

Simple = -11

if Simple > 0:
    print('Positive')

elif Simple is 0:
      print('Null')

elif -10 <= Simple < 0 :
      print('Negative')

elif Simple < -10:
      print('Negative and small')

Simple != -11


#for element in CitiesXAnimals:
  #print(element)

SUBList = [['a','b','c'],['x','y','z']]
print(SUBList)

for i in SUBList:
  print('Display:', i)



def SimpleAdder(a , b):

  '''
  function to add two numbers together
  '''

  Result = a + b

  return Result

SimpleAdder(1,5)
print(SimpleAdder(1,5))


def SimpleVolume(l,w,h):

  '''
  function for calculating volume
  '''

  Volume = l * w * h
  return Volume

SimpleVolume(10,10,5)

56 11
False
True
['Berlin', 'London', 'Paris', 55, 44, 12]
['Berlin', 'London', 'Paris', 55, 44, 12, 'Moscow', 'Zurich']
['Berlin', 'London', 'Paris', 22, 44, 12, 'Moscow', 'Zurich']
['Berlin', 'London', 'Paris', 22, 44, 'Moscow', 'Zurich']
['Berlin', 'London', 'Paris', 22, 44, 32, 'Moscow', 'Zurich']
['Bear', 'Shark', 'Canine']
['Berlin', 'London', 'Paris', 22, 44, 32, 'Moscow', 'Zurich', 'Bear', 'Shark', 'Canine']
Negative and small
[['a', 'b', 'c'], ['x', 'y', 'z']]
Display: ['a', 'b', 'c']
Display: ['x', 'y', 'z']
6

500

In [ ]:
def SimpleVolume(l,w,h):

  '''
  function for calculating volume
  '''

  Volume = l * w * h
  return Volume

SimpleVolume(10,10,5)
print(SimpleVolume(10,10,5))
VolVar=SimpleVolume(10,10,5)
print(VolVar)

last_list = [0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9]

last_list_clean = last_list
Removed=888

#for Removed in last_list:
 # last_list_clean.remove(888)
 # print(last_list_clean)

last_list_clean = [value for value in last_list if value != Removed]
print(last_list_clean)

500
500
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 43% 5.00M/11.6M [00:00<00:00, 12.2MB/s]
100% 11.6M/11.6M [00:00<00:00, 26.3MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 16.0MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv
Downloading large-boatyacht-pricing-dataset.zip to /content
 80% 5.00M/6.22M [00:00<00:00, 15.0MB/s]
100% 6.22M/6.22M [00:00<00:00, 18.4MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [115]:
import pandas as pd # package import - library to manipulate databases
import io
import numpy as np # package import - library to manipulate numbers written in C
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [24]:


df[['Year Built','Model']].head(11)
df[['Manufacturer','Boat name','Category','Displacement']].head(11)
#'df.info()


Disp = df['Year Built'] > 1000
Disp.dtypes

df[Disp].head(11)
df[Disp].max()

df[df['Year Built'] > 2005].head(11)



df[df['Number of Cabins']>5].head(11)
df[df['Number of Cabins']>5].max()


df[df['Cert Number of People']>10].head(11)
df[df['Cert Number of People']>10].max()


# between function parameters

df[df['Year Built'].between(1995,2010, inclusive="both")].head()
df[df['Year Built'].between(1995,2010, inclusive="right")].max()
df[df['Year Built'].between(1995,2010, inclusive="left")].max()
df[df['Year Built'].between(1995,2010, inclusive=True)].min()
df[df['Year Built'].between(1995,2010, inclusive=False)].head(11)

# display N columns of my choice after between condition

df[df['Year Built'].between(1995,2010, inclusive="right")][['Cert Number of People','Number of Cabins','Number of beds']].head(5)


df[(df['Year Built']>2010) | (df['Year Built']<1990)].head(11)
df.describe()

df[(df['Cert Number of People'] > 10) & (df['Year Built'] < 1999)].head(11)


mask4 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & ((df['Number of Cabins'] <= 2) | (df['Number of Cabins'].isna()))
df[mask4].head()
df[mask4].describe()

mask5 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type'] == 'Diesel')
df[mask5].head()
df[mask5].describe(include='all')


list_cat_to_keep=['Diesel','Electric']
mask5 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type'].isin(list_cat_to_keep))

# same as .isin([['Diesel','Electric']])
mask5 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type'].isin([['Diesel','Electric']]))
df[mask5].head(2)

df[mask5]['Fuel Type'].unique()


list_cat_NOT_to_keep=['Diesel','Electric']
mask6 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (~df['Fuel Type'].isin(list_cat_NOT_to_keep))

# same as ~df['Fuel Type'].isin([['Diesel','Electric']])
mask6 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (~df['Fuel Type'].isin([['Diesel','Electric']]))

df[mask6].head(2)
df[mask6]['Fuel Type'].unique() # shows unique entries

#df.info()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.

array(['Diesel', 'Unleaded', nan, 'Electric', 'Hybrid', 'Gas'],
      dtype=object)

In [43]:
df['Fuel Type'].value_counts()
df['Fuel Type'].value_counts(dropna=False)
df['Fuel Type'].value_counts(dropna=True)

df['Fuel Type'].value_counts(normalize=True, dropna=False)
df['Fuel Type'].value_counts(normalize=True, dropna=False)*100

np.round(df['Fuel Type'].value_counts(normalize=True, dropna=False), decimals=2)
np.round(df['Fuel Type'].value_counts(normalize=True, dropna=False)*100, decimals=2)


df[['Advertisement Date','Year Built','Cert Number of People']].head(11)
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

df[['Advertisement Date','Year Built','Cert Number of People']].head(11)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(7), object(30)
memory usage: 3.1+ MB

In [60]:
df['Length'].unique()
df['Length'].value_counts(dropna=False)
df['Length_Clean'] = df['Length'].str.rstrip(' m')
#df.info()
df['Length_Clean'].head(11)
df.head(11)

df['Width_Clean'] = df['Width'].str.rstrip(' m')
np.round(df['Year Built'],decimals=0)
df['Depth_Clean'] = df['Depth'].str.rstrip(' m')
df['Displacement_Clean'] = df['Displacement'].str.rstrip(' kg') 
df.head(11)

df['Length_Clean'] = pd.to_numeric(df['Length_Clean'])
df['Width_Clean'] = pd.to_numeric(df['Width_Clean'])
df['Depth_Clean'] = pd.to_numeric(df['Depth_Clean'])
# df['Displacement_Clean'] = pd.to_numeric(df['Displacement_Clean'])
df.dtypes

Price                                  object
Category                               object
Boat Type                              object
Manufacturer                           object
Model                                  object
Boat name                              object
Type                                   object
Year Built                            float64
Condition                              object
Length                                 object
Width                                  object
Depth                                  object
Displacement                           object
CE Design Category                     object
Cert Number of People                 float64
Number of Cabins                      float64
Number of beds                        float64
Hull Color                             object
Number of Toilets                     float64
Number of Bathrooms                   float64
Number of Showers                     float64
Material                               object
Fresh Water Cap                        object
Holding Tank                           object
Propulsion                             object
Engine                                 object
Engine Performance                     object
Fuel Capacity                          object
Fuel Type                              object
Engine Hours                           object
Max Speed                              object
Cruising Speed                         object
Location                               object
Number of views last 7 days            object
Comments                               object
Additional Comments                    object
Equipment                              object
Advertisement Date             datetime64[ns]
Length_Clean                          float64
Width_Clean                           float64
Depth_Clean                           float64
Displacement_Clean                     object
dtype: object

In [78]:
df['Length_Clean'].unique()
df['Length_Clean'].dtypes
df['Length_Clean'].describe()
df['Length_Clean'].head(11)

def CellCleaner(series, char):

    '''
    function that cleans recurring strings
    '''

    new_series = series.str.rstrip(' m')
    new_series = pd.to_numeric(new_series)

    return new_series

df[['Width','Depth']].head(11)

#for col in ['Width','Depth']:
  #df[col] = CellCleaner(df[col], ' m')

df[['Width','Depth']].head(11)

    Width  Depth
0    1.90    NaN
1    1.50    NaN
2    1.42   0.25
3    1.00    NaN
4    2.50   0.75
5    1.46    NaN
6    1.56    NaN
7    2.38   0.40
8     NaN    NaN
9    1.37    NaN
10   1.73    NaN

In [85]:
df['Engine Hours'].head(11)

#def EngineHourCleaner(array, string):

    #new = array.str.rstring(' h')
    #new = pd.to_numeric(new)

    #return new

#for col in ['Engine Hours']:
df['Engine Hours'] = CellCleaner(df['Engine Hours'], ' h')

ValueError: ignored

In [95]:
#df = df.rename(columns={'Length_Clean':'Length_NEW','Width_Clean':'Width_NEW','Depth_Clean':'Depth_NEW'})
#df.dtypes


col_1 = df.select_dtypes(include='object').columns
for col in col_1:
  #print(f"Column {col} has {df[col].nunique()} categories\n")
    print(f"Column {col} has {df[col].nunique()} categories\n")

Column Price has 3283 categories

Column Category has 1 categories

Column Boat Type has 135 categories

Column Manufacturer has 932 categories

Column Model has 7458 categories

Column Boat name has 1258 categories

Column Type has 36 categories

Column Condition has 10 categories

Column Length has 1628 categories

Column Displacement has 1380 categories

Column CE Design Category has 4 categories

Column Hull Color has 377 categories

Column Material has 11 categories

Column Fresh Water Cap has 287 categories

Column Holding Tank has 104 categories

Column Propulsion has 8 categories

Column Engine has 4752 categories

Column Engine Performance has 843 categories

Column Fuel Capacity has 716 categories

Column Fuel Type has 6 categories

Column Engine Hours has 996 categories

Column Max Speed has 99 categories

Column Cruising Speed has 57 categories

Column Location has 3177 categories

Column Number of views last 7 days has 680 categories

Column Comments has 6631 categories

Column Additional Comments has 2410 categories

Column Equipment has 5301 categories

Column Displacement_Clean has 1380 categories

In [91]:
col_object_l = df.select_dtypes(include='object').columns # Stock les colonnes
for col in col_object_l:
    print(f"Column {col} has {df[col].nunique()} categories\n")

Column Price has 3283 categories

Column Category has 1 categories

Column Boat Type has 135 categories

Column Manufacturer has 932 categories

Column Model has 7458 categories

Column Boat name has 1258 categories

Column Type has 36 categories

Column Condition has 10 categories

Column Length has 1628 categories

Column Displacement has 1380 categories

Column CE Design Category has 4 categories

Column Hull Color has 377 categories

Column Material has 11 categories

Column Fresh Water Cap has 287 categories

Column Holding Tank has 104 categories

Column Propulsion has 8 categories

Column Engine has 4752 categories

Column Engine Performance has 843 categories

Column Fuel Capacity has 716 categories

Column Fuel Type has 6 categories

Column Engine Hours has 996 categories

Column Max Speed has 99 categories

Column Cruising Speed has 57 categories

Column Location has 3177 categories

Column Number of views last 7 days has 680 categories

Column Comments has 6631 categories

Column Additional Comments has 2410 categories

Column Equipment has 5301 categories

Column Displacement_Clean has 1380 categories

In [119]:
List_Of_Col_To_Drop = ['Category','Number of views last 7 days','Additional Comments']
#print(List_Of_Col_To_Drop)

df = df.drop(columns = List_Of_Col_To_Drop, inplace = True)
#df = df.drop(columns = List_Of_Col_To_Drop, inplace = True)

In [120]:
df.head()

AttributeError: ignored