<a href="https://colab.research.google.com/github/D0MOVF/DATA_ACADEMY/blob/main/CourseReview3_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# review of materials 1 - 3
7+3
5*5
5**3

125

In [72]:
21%5

VAR=56
print(VAR ,"11")

VAR != 56

VAR1 = 10
VAR2 = 11
print(VAR1 == VAR2)
print(VAR1 != VAR2)

Cities = ["Berlin","London","Paris", 55, 44, 12]
print(Cities)

type(Cities[3])
Cities.append("Moscow")
Cities.append("Zurich")
print(Cities)
Cities[3] = 22
print(Cities)
Cities.remove(12)
print(Cities)
Cities.insert(5, 32)
print(Cities)
type(Cities[6])

Animals = ["Bear","Shark","Canine"]
print(Animals)

CitiesXAnimals = Cities + Animals
print(CitiesXAnimals)

Simple = -11

if Simple > 0:
    print('Positive')

elif Simple is 0:
      print('Null')

elif -10 <= Simple < 0 :
      print('Negative')

elif Simple < -10:
      print('Negative and small')

Simple != -11


#for element in CitiesXAnimals:
  #print(element)

SUBList = [['a','b','c'],['x','y','z']]
print(SUBList)

for i in SUBList:
  print('Display:', i)



def SimpleAdder(a , b):

  '''
  function to add two numbers together
  '''

  Result = a + b

  return Result

SimpleAdder(1,5)
print(SimpleAdder(1,5))


def SimpleVolume(l,w,h):

  '''
  function for calculating volume
  '''

  Volume = l * w * h
  return Volume

SimpleVolume(10,10,5)

56 11
False
True
['Berlin', 'London', 'Paris', 55, 44, 12]
['Berlin', 'London', 'Paris', 55, 44, 12, 'Moscow', 'Zurich']
['Berlin', 'London', 'Paris', 22, 44, 12, 'Moscow', 'Zurich']
['Berlin', 'London', 'Paris', 22, 44, 'Moscow', 'Zurich']
['Berlin', 'London', 'Paris', 22, 44, 32, 'Moscow', 'Zurich']
['Bear', 'Shark', 'Canine']
['Berlin', 'London', 'Paris', 22, 44, 32, 'Moscow', 'Zurich', 'Bear', 'Shark', 'Canine']
Negative and small
[['a', 'b', 'c'], ['x', 'y', 'z']]
Display: ['a', 'b', 'c']
Display: ['x', 'y', 'z']
6

500

In [83]:
def SimpleVolume(l,w,h):

  '''
  function for calculating volume
  '''

  Volume = l * w * h
  return Volume

SimpleVolume(10,10,5)
print(SimpleVolume(10,10,5))
VolVar=SimpleVolume(10,10,5)
print(VolVar)

last_list = [0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9]

last_list_clean = last_list
Removed=888

#for Removed in last_list:
 # last_list_clean.remove(888)
 # print(last_list_clean)

last_list_clean = [value for value in last_list if value != Removed]
print(last_list_clean)

500
500
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 43% 5.00M/11.6M [00:00<00:00, 30.4MB/s]
100% 11.6M/11.6M [00:00<00:00, 63.4MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 16.0MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv
Downloading large-boatyacht-pricing-dataset.zip to /content
 80% 5.00M/6.22M [00:00<00:00, 40.2MB/s]
100% 6.22M/6.22M [00:00<00:00, 47.8MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [117]:
import pandas as pd # package import - library to manipulate databases
import io
import numpy as np # package import - library to manipulate numbers written in C
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [173]:


df[['Year Built','Model']].head(11)
df[['Manufacturer','Boat name','Category','Displacement']].head(11)
#'df.info()


Disp = df['Year Built'] > 1000
Disp.dtypes

df[Disp].head(11)
df[Disp].max()

df[df['Year Built'] > 2005].head(11)



df[df['Number of Cabins']>5].head(11)
df[df['Number of Cabins']>5].max()


df[df['Cert Number of People']>10].head(11)
df[df['Cert Number of People']>10].max()



df[df['Year Built'].between(1995,2010, inclusive="both")].head()
df[df['Year Built'].between(1995,2010, inclusive="right")].max()

df[df['Year Built'].between(1995,2010, inclusive="right")][['Cert Number of People','Number of Cabins','Number of beds']].head(5)






#df.info()

#df.info()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

    Cert Number of People  Number of Cabins  Number of beds
7                     6.0               NaN             NaN
14                    NaN               NaN             NaN
16                    3.0               NaN             NaN
30                    5.0               NaN             NaN
35                    5.0               NaN             NaN