<a href="https://colab.research.google.com/github/D0MOVF/DATA_ACADEMY/blob/main/DATA_ACADEMY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Example

In [ ]:
# Run everytime I log into Colab --> needed to pull files from Kaggle!

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

# Upon running, need to "CHOOSE FILE" in Documents/Kaggle.JSON

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 86% 10.0M/11.6M [00:00<00:00, 32.0MB/s]
100% 11.6M/11.6M [00:00<00:00, 38.7MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 16.4MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv
Downloading large-boatyacht-pricing-dataset.zip to /content
 80% 5.00M/6.22M [00:00<00:00, 43.2MB/s]
100% 6.22M/6.22M [00:00<00:00, 51.7MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [ ]:
7+3

10

In [ ]:
#Python is a calculator
7+3
#It always only outputs the result of the LAST calculation
8*2

16

In [ ]:
21**2 # Exponential
21^2 # Exponential
21%2 # Modulo - Geteilt durch 2 + was ist der Rest --> Modulo ist der Rest; e.g. 23%3 = 23/3 --> Modulo = Rest 2?

1

In [ ]:
#Assign a number to an OBJECT (variable / constant)
obj_G = 2 # Assign value 2 to object "obj_G" by using "=" / equal sign
print(obj_G)

2

In [ ]:
#Boolean
obj_G == 1 # Logical test: is obj_G = 1? NO, as above it was stated that it is 2!
!= is NOT EQUAL

False

In [ ]:
#Other Logical operators
obj_G >= 3
obj_G <= 2
obj_G < 1

False

In [ ]:
#SAS is NOT case-sensitive --> Caps / lower characters DO NOT MATTER
#Python IS case-sensitive! Beautiful =/ BeAuTiFuL ! Need to be very careful!
Beautiful = 1 #Declare
BeAuTiFuL = 2 #Declare
Beautiful == BeAuTiFuL #Logical test --> False!

False

In [ ]:
#Data Types
#1) LISTS - Objects defined in square brackets [] = Array! Held values need to be defined in double apostrophes!
Cities = ["Paris", "Zurich", "Rome","Berlin"]
"London" in Cities #Check if String "London" is part of the defined list/array
"London" not in Cities
print(Cities) #Display list contents
type(Cities) #Check Data type of the Object!

#Access values within a list - First entry in a list is always location 0! Python is 0 based!
Cities [0] # will access/select the first entry within a list.
Cities [-1] # counts backwards, i.e. always shows the LAST entry of a list

# List value substitution
Cities[-1] = "Milan" # substitute values within a list
print(Cities) 

# List value insertion
Cities.insert(2, "Hong Kong") # extends list with a new value at designated location
print(Cities)

# List value append
Cities.append("Rio de Janeiro") # appends a new value --> per default always BY THE END!
print(Cities)

# List value removal/deletion
Cities.remove("Paris") # deletes the FIRST string of a list! 
print(Cities)

# Insertion of numerical values into a list
Cities.insert(2, 100) #100 is numerical, "100" if you want it to be a string
print(Cities)

# KEY: Lists can hold ANY type of value - SICK!
type(Cities[2]) #can tell you the format/data type of an object within a list by providing the relative position in the list: position [2] = 100 = int (for integer); [3] = str (for string)

# Index position of list values
Cities.index("Milan") # position = 4, which is the fifth value (as Python is 0 based)

# Concatenation of lists by using the + operator
New_list = [1,3,5,2]
Cities2 = Cities + New_list # Concatenate x number of lists by "+"
print(Cities2)

# Note: lists are defined by square brackets [] --> these values can be targeted and swapped, extended, changed etc.
# Note: lists can be also be defined by regular brackets () --> these are called "tuples" and its values CANNOT change! Don't use it, as less flexible

['Paris', 'Zurich', 'Rome', 'Berlin']
['Paris', 'Zurich', 'Rome', 'Milan']
['Paris', 'Zurich', 'Hong Kong', 'Rome', 'Milan']
['Paris', 'Zurich', 'Hong Kong', 'Rome', 'Milan', 'Rio de Janeiro']
['Zurich', 'Hong Kong', 'Rome', 'Milan', 'Rio de Janeiro']
['Zurich', 'Hong Kong', 100, 'Rome', 'Milan', 'Rio de Janeiro']
['Zurich', 'Hong Kong', 100, 'Rome', 'Milan', 'Rio de Janeiro', 1, 3, 5, 2]

In [ ]:
# Conditions

val = -11 # can also hold calculations; e.g. 0-11 = -11

if val > 0: # colon is basically "then"
  print('The value is positive')

elif val < 0: # elif = else if
  print('The value is negative')

elif val < -10:
  print('Very low')

else: # final if condition with else
  print('The value equals 0')

# KEY: Python will only output the FIRST condition that is met. I.e. -11 will trigger 'The value is negative' --> not jump to 'Very low' as already satisfied

The value is negative

In [ ]:
# Need to take into account the ORDER of conditions to not stop and produce a wrong output!
# CASE when with nested if conditions does exist too! Preference to use this as it could avoid reordering issues!!!

val = -11 # can also hold calculations; e.g. 0-11 = -11

if val > 0: # colon is basically "then"
  print('The value is positive')

elif val < -10:
  print('Very low')

elif val < 0: # elif = else if
  print('The value is negative')

else: # final if condition with else
  print('The value equals 0')

Very low

In [ ]:
# Logical expressions for if:
# a == b: is a equal to b
# a != b: is a different from b
# a <= b: is a lower or equal than b
# a >= b: is a greater or equal than b
# a < b: is a strictly lower than b
# a > b: is a strictly greater than b
# a is b: is a the same object as b
# condition_a and condition_b: logical AND
# condition_a or condition_b: logical OR
# not: negation

In [ ]:
# FOR LOOP

fruits = ['apple', 'pear', 'cherry']
for element in fruits: # colon : is equal to "then"
  # print(fruits) # print exact contents
  print(element) # an element is every object within a list

# NESTED LOOPS (Loops within loops)

list_of_list = [['a', 'b', 'c'], [1,2,3]] # this list consists of TWO Elements! Both element contents in brackets and separated by a comma
# print(list_of_list)

for sub_list in list_of_list:
  print("We treat the list: ", sub_list)

  for element in sub_list:
    print('We display the element: ', element)

apple
pear
cherry
We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
fruits = ['apple', 'pear', 'cherry']
for i in fruits: # colon : is equal to "then"
  i = 'banana'
  print(i) 

  #

banana
banana
banana

In [ ]:
# KEY: Need to be really careful of indents!
# KEY: Indent (ONLY EVER 1) determines nesting level

list_of_list = [['a', 'b', 'c'], [1,2,3]] # this list consists of TWO Elements! Both element contents in brackets and separated by a comma
# print(list_of_list)

for sub_list in list_of_list: #no indent # sub_list = subject
  print("We treat the list: ", sub_list)

  for element in sub_list: #indent 1 tab --> first nesting level
    print('We display the element: ', element)




# Note: Other type of loops: WHILE LOOPS

We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
# FUNCTIONS

# E.g. .append / .insert etc. are built-in functions
# Python requires functions to perform basic actions - like importing a .csv file - these functions are located within "packages"/part of "libraries"
# We need to call these libraries of functions --> don't have to write these functions ourselves! Just call them with a single line of code
# Writing my own functions only ever comes up for very specific requirements / for which no libraries/function packages exist

#Functions are objects themselves
#Variables as part of a function do NOT exist outside of the function!

#Functions start with "def" --> "define"
#Then comes the name of the function
#In parentheses, state the variables of the function, e.g. a/b/c, length/width etc.
#Optional variables to a function: declare variable = None, for example: a, b=None --> can still use the function and assign a value to b, but function will work without it!


def awesome_dominik_function_to_calculate_area(a, b):
  '''
  Function to calculate the area of a rectangle
  
  Parameters:
  a = length
  b = width
  '''
  
  # three ''' create lines which can hold descriptions, e.g. the purpose of the function! Useful documentation!

  my_area = a*b

  return my_area # be careful of indents!

In [ ]:
# Create an object which holds the result of the function + print the output

area1 = awesome_dominik_function_to_calculate_area(10,8)
print(area1)

area2 = awesome_dominik_function_to_calculate_area(85, 91)
print(area2)

area3 = area2 - area1
print(area3)
type(area3)

80
7735
7655

int

In [ ]:
# Remove identical values from a list with a loop
# List comprehension

last_list = [0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9] # let us delete all the 888's
print(last_list)
# Define value to be deleted
valueToBeRemoved = 888

last_list2 = last_list
# Loop through entire list to only retain values which are DIFFERENT to valueToBeRemoved
# Entirely depends on the operator: != only where NOT 888 whereas == only where IS 888
last_list = [value for value in last_list if value != valueToBeRemoved]
print(last_list)

last_list2 = [value for value in last_list2 if value == valueToBeRemoved]
print(last_list2)

[0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[888, 888, 888]

In [ ]:
# Data Science Academy (Advanced) - Session 3/7

In [ ]:
# Run everytime I log into Colab --> needed to pull files from Kaggle!

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

# Upon running, need to "CHOOSE FILE" in Documents/Kaggle.JSON

In [ ]:
# Need to run the above Kaggle.json import procedure first!
# Script below makes the source data more complex --> introduce more problems!

import pandas as pd # package import - library to manipulate databases
import io
import numpy as np # package import - library to manipulate numbers written in C
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [ ]:
# Display entries of the imported database called df

df.head(10) #specifies how many rows to show with header being 1 row
df.head() #per default shows 5 rows - header = 1 + 4 content rows

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,1.90 m,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,226,NaN,Possibility to arrange it with a complete luxu...,NaN,2021-08-11
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN,2020-08-19
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,1.42 m,0.25 m,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa ZH,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN,2021-01-06
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN,2020-08-01
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,2.50 m,0.75 m,2'000 kg,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inboard with Shaft,VolvoPenta MD 2002,1 x 18 HP / 13 kW,50 l,NaN,500 h,NaN,NaN,Nordsee » Västra Frölunda,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C...",2021-05-05

In [ ]:
# CRUCIAL OVERVIEW FUNCTIONS
# Check dimensions of database

df.shape

# Check types of columns

df.dtypes # object = String, float64 = double?
# Some numbers are incorrectly identified as object, i.e. string due to , . !
# Needs cleaning!

# Check Basic Descriptive Statistics of Numerical and Non-Numerical Values

df.describe() # Descriptive Statistics, such as Count, Average, Std, Min, Max, Quartiles ONLY for numeric columns!
df.describe(include='all') # Descriptive Statistics for ALL columns irrespective of format

# Information of generic nature, such as total rows, NULL values, data type

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  object
dtypes: float64(7), object(31)
memory usage: 3.1+ MB

In [ ]:
# DATA MANIPULATION IN PYTHON


# Open a Database and output a specific column = Vector

df['Year Built'].head() # single square brackets

# Open a Database and output TWO specific columns = Array

df[['Year Built','Model']].head() # TWO square brackets!

# Open a Database and output N columns with N >= 2

df[['Year Built','Model','Category']].head() # TWO square brackets suffice for more than 2 columns


# Selecting specific lines w/ conditions to output Booleans

mask1 = df['Year Built'] > 2000 # assign a boolean
mask1 # output booleans
mask1.dtype # type 'bool'
df[mask1].head() # filter dataset with boolean logic
df[mask1].min() # check if 'Year Built' is indeed only larger than 2000!

# Combine boolean condition AND filter = replaces the extra step with declaring mask1

df[df['Year Built'] > 2000].head(3)

# Check for the two ways producing the identical output
df[mask1] == df[df['Year Built'] > 2000]




# Advanced Functions

mask2 = df['Year Built'].between(2001,2005, inclusive="both")
mask2
df[mask2].head(5)
df[mask2].describe()

# Same as:
df[df['Year Built'].between(2001,2005, inclusive="both")].head(5)

# Select X columns to show after filtered condition
df[mask2]['Category'].head(2)
df[mask2][['Category','Fuel Type']]




# Complex Conditions

# & --> AND
# | --> OR

# Beware of where to set brackets! Same priority and logic as in SQL / SAS

mask3 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) 
df[mask3].head()
df[mask3].describe()

# Same as:
df[((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2)].head()




# Categorical Conditions

# KEY: If an entry is missing, it will not be filtered and is thus removed in the output dataset - same as with SAS / SQL
# KEY: To include missing values --> include this specific condition via an OR statement: (df['Column'].isna()) = saying you want to keep these values!

mask4 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & ((df['Number of Cabins'] <= 2) | (df['Number of Cabins'].isna()))
df[mask4].head()
df[mask4].describe()

mask5 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type'] == 'Diesel')
df[mask5].head()
df[mask5].describe(include='all')

# Using Lists as filter conditions - .isin OR ~ .isin = NOT IN

# .isin (IN LIST)

list_cat_to_keep=['Diesel','Electric']

mask5 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type'].isin(list_cat_to_keep))
df[mask5].head(2)
# df[mask5].describe(include='all')

df[mask5]['Fuel Type'].unique() # shows unique entries



# ~ .isin (NOT IN LIST)

list_cat_to_keep=['Diesel','Electric']

mask6 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (~df['Fuel Type'].isin(list_cat_to_keep))
df[mask6].head(2)
df[mask6]['Fuel Type'].unique() # shows unique entries

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

array(['Unleaded', nan, 'Hybrid', 'Gas'], dtype=object)

In [ ]:
# Value_Counts - to count the occurrence of legitimate entries within a specified column or N columns (WITHOUT NULL VALUES!)

# Basic Summary

df['Fuel Type'].value_counts()

# Including NULL Values (= NaN)

df['Fuel Type'].value_counts(dropna=False)

# Normalized i.e. % share

df['Fuel Type'].value_counts(normalize=True, dropna=False)
df['Fuel Type'].value_counts(normalize=True, dropna=False)*100 # to get percent in abs.

# Reformat output

np.round(df['Fuel Type'].value_counts(normalize=True, dropna=False)*100, decimals=2) # set decimal count with NP function!

Diesel      46.00
Unleaded    30.83
NaN         22.45
Electric     0.53
Gas          0.16
Hybrid       0.02
Propane      0.01
Name: Fuel Type, dtype: float64

In [ ]:
# Data Type Transformation

# Update existing column by a PD function (could also create an entirely new column though)

df['Advertisement Date'].head() # read format from the dataset first
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d' ) # replicate the present dataset dateformat exactly as it is so that Python can understand it before re-formatting

# KEY RESOURCE: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

# New Column:

# df['Advertisement Date 2'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d' )

df.info() # to check formatting has worked

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(7), object(30)
memory usage: 3.1+ MB

In [ ]:
# Data Cleaning

# Assorted 'dirty' Columns

df['Length'].unique()
df['Engine Hours'].unique()
df['Fresh Water Cap'].unique()

# Cleaning column 'Length' by updating it with a function - .str.rstrip = strips away a specific substring FROM THE RIGHT!
# There's also a .str.lstrip to cut leading substrings that are uniformally available in all rows

df['Length'] = df['Length'].str.rstrip(' m')
df['Length'].unique()

# Issue: no more string values, but still an object! Must tell Python that it can interpret it as a decimal
# Using pd.to_numeric function

df['Length'] = pd.to_numeric(df['Length'])

AttributeError: ignored

In [ ]:
df['Length'].unique()
df['Length'].dtypes
df['Length'].head(10)

0    4.00
1    4.00
2    3.69
3    3.00
4    6.30
5    3.55
6    4.03
7    6.20
8    3.00
9    3.64
Name: Length, dtype: float64

In [ ]:
# Cleaning of the other columms by use of a function

df['Engine Hours'].unique()
df['Fresh Water Cap'].unique()

# declare a function start

def format_series(series, char):
  
  '''
  Description
  '''
  new_series = series.str.rstrip(char)
  new_series = pd.to_numeric(new_series)

  return new_series

In [ ]:
df[['Width','Depth']].head()

# Use a loop to adjust multiple columns at once

for col in ['Width','Depth']:
  df[col] = format_series(df[col], ' m')

AttributeError: ignored

In [ ]:
df[['Width','Depth']].head()

   Width  Depth
0   1.90    NaN
1   1.50    NaN
2   1.42   0.25
3   1.00    NaN
4   2.50   0.75

In [ ]:
# Do the same for 'Engine Hours' 
# And for 'Fresh Water Cap', 'Holding Tank', 'Fuel Capacity'

df['Engine Hours'] = format_series(df['Engine Hours'], ' h')

for col in ['Fresh Water Cap', 'Holding Tank', 'Fuel Capacity']:
  df[col] = format_series(df[col], ' l')

In [ ]:
df[['Engine Hours','Fresh Water Cap', 'Holding Tank', 'Fuel Capacity']].head(10)

   Engine Hours  Fresh Water Cap  Holding Tank  Fuel Capacity
0           NaN              NaN           NaN            NaN
1           NaN              NaN           NaN            NaN
2           NaN              NaN           NaN            NaN
3           NaN              NaN           NaN            NaN
4         500.0              NaN           NaN           50.0
5           NaN              NaN           NaN            NaN
6           NaN              NaN           NaN            NaN
7           NaN              NaN           NaN           40.0
8           NaN              NaN           NaN            NaN
9           NaN              NaN           NaN            NaN

In [ ]:
# Renaming Columns

# .rename(columns={current column name : new column name})

df = df.rename(columns={'Length':'Length (m)', 'Width' : 'Width (m)', 'Depth' : 'Depth (m)'})

In [ ]:
df.dtypes

# Filtering of Constants, i.e. identical values across all rows

col_object_l = df.select_dtypes(include='object').columns # Stock les colonnes
for col in col_object_l:
    print(f"Column {col} has {df[col].nunique()} categories\n") # .nunique = number of unique values/categories

    # Result = Column 'Category' has only 1 value/categories --> can be dropped

Column Price has 3283 categories

Column Category has 1 categories

Column Boat Type has 135 categories

Column Manufacturer has 932 categories

Column Model has 7458 categories

Column Boat name has 1258 categories

Column Type has 36 categories

Column Condition has 10 categories

Column Displacement has 1380 categories

Column CE Design Category has 4 categories

Column Hull Color has 377 categories

Column Material has 11 categories

Column Propulsion has 8 categories

Column Engine has 4752 categories

Column Engine Performance has 843 categories

Column Fuel Type has 6 categories

Column Max Speed has 99 categories

Column Cruising Speed has 57 categories

Column Location has 3177 categories

Column Number of views last 7 days has 680 categories

Column Comments has 6631 categories

Column Additional Comments has 2410 categories

Column Equipment has 5301 categories

In [ ]:
# Delete Columns

list_col_to_delete_part1 = ['Category','Displacement','Number of views last 7 days','Additional Comments']

# Also, if there are columns that are non-understandable, it is recommendable to delete them
# Rationale: These columns are NON-DESCRIPTIVE of the price of the boat itself --> we delete it in order to have better data for feeding it into our predictive model
# These variables are not correlated to price at all, potentially
# Assumes the price can perfectly be predicted with all the remaining variables that will remain after cleaning

df = df.drop(columns = list_col_to_delete_part1, inplace = True)

In [ ]:
# OVF Data Science Academy 4/7 - DATA CLEANING
# Load all Kaggle files again with .json file --> to declare data "df"
# Execute script to run panda and numpy packages
#df.head(11)

# Splitting Data in 2 parts - Split will be done on temporal basis

df['Advertisement Date'].head() # read format from the dataset first
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d' )
df.set_index(['Advertisement Date']).resample('M').size()

Advertisement Date
2020-01-31    442
2020-02-29    463
2020-03-31    447
2020-04-30    426
2020-05-31    478
2020-06-30    422
2020-07-31    468
2020-08-31    500
2020-09-30    464
2020-10-31    433
2020-11-30    415
2020-12-31    470
2021-01-31    463
2021-02-28    407
2021-03-31    475
2021-04-30    456
2021-05-31    484
2021-06-30    434
2021-07-31    443
2021-08-31    431
2021-09-30    428
2021-10-31    517
2021-11-30    437
2021-12-31    441
Freq: M, dtype: int64

In [ ]:
df['Advertisement Date'].describe()

# What data to use for an algorithm - ideally, ONE YEAR of data (as it can reflect 'current' market dynamics)
# On the other hand, it does not make sense to use only 6 months' worth of data (not enough? too short?)

# TRAINING AN ALGORITHM

# Let's have Train & Validation for the data of 2020 and Test for the data of 2021
train_val = df[df['Advertisement Date'] < '2021-01-01'].reset_index(drop=True)

# Creation of Test Data
test = df[df['Advertisement Date'] >= '2021-01-01'].reset_index(drop=True)

#The fundamental hypothesis for every predictive modeling is the independancy all the observations. However, algorithms will put a highest weight / importance to the some observation.
#First step is to identify the duplicates.
#When all the features have the same values for several observations, it is what I call 'true duplicates'. To treat them, we can keep the fist value.

# Delete 'noduprecs' entries - entire row is identical - they create bias in the algorithm, but reflect invalid dupes

train_val.duplicated(keep=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

0       False
1       False
2       False
3       False
4       False
        ...
5423     True
5424     True
5425     True
5426     True
5427     True
Length: 5428, dtype: bool

In [ ]:
# CHECK for the number of TRUE DUPLICATES, i.e. same rows

print(f'The database has {train_val[train_val.duplicated(keep=False)].shape[0]} true duplicates')

The database has 488 true duplicates

In [ ]:
# ???

train_val[train_val.duplicated(keep=False)].sort_values(by='Model')[:10]

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
4746,"EUR 25.000,-",Power Boats,Motor Yacht,Altena power boats,10,Mulmeli,Used boat,1972.0,NaN,10.00 m,3.20 m,1.10 m,NaN,NaN,NaN,NaN,2.0,White,NaN,NaN,NaN,Steel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands » onbekend,NaN,Het interieur is volledig opnieuw ontworpen. A...,NaN,NaN,2020-08-17
5241,"EUR 25.000,-",Power Boats,Motor Yacht,Altena power boats,10,Mulmeli,Used boat,1972.0,NaN,10.00 m,3.20 m,1.10 m,NaN,NaN,NaN,NaN,2.0,White,NaN,NaN,NaN,Steel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands » onbekend,NaN,Het interieur is volledig opnieuw ontworpen. A...,NaN,NaN,2020-08-17
5246,"EUR 229.000,-",Power Boats,Trawler,Altena power boats,126 Family,Aventura,"Used boat,Diesel",2012.0,NaN,12.66 m,3.95 m,1.27 m,NaN,NaN,NaN,NaN,3.0,Beige,NaN,NaN,NaN,Steel,NaN,NaN,NaN,Vetus Deutz DTA44,1 x 1 HP / 0.7 kW,1490 l,Diesel,475 h,NaN,NaN,Netherlands » In verkoophaven,110,This vessel is extremely well maintained and i...,NaN,"Air Conditioning,Anchor,Autopilot,Battery,Batt...",2020-04-01
2643,"EUR 229.000,-",Power Boats,Trawler,Altena power boats,126 Family,Aventura,"Used boat,Diesel",2012.0,NaN,12.66 m,3.95 m,1.27 m,NaN,NaN,NaN,NaN,3.0,Beige,NaN,NaN,NaN,Steel,NaN,NaN,NaN,Vetus Deutz DTA44,1 x 1 HP / 0.7 kW,1490 l,Diesel,475 h,NaN,NaN,Netherlands » In verkoophaven,110,This vessel is extremely well maintained and i...,NaN,"Air Conditioning,Anchor,Autopilot,Battery,Batt...",2020-04-01
2203,"EUR 440.000,-",Power Boats,"Cabin Boat,Motor Yacht,Offshore Boat",Performance power boats,1307,NaN,", ,, ,Used boat,Unleaded",2013.0,very good,13.33 m,3.40 m,1.00 m,NaN,NaN,12.0,2.0,6.0,NaN,NaN,2.0,NaN,GRP,230 l,NaN,Sterndrive,Mercruiser,3 x 430 HP / 316 kW,1300 l,Unleaded,330 h,NaN,NaN,Italy » Lake Garda » Gardasee,345,NaN,For sale is Performance 1307 from 2013 in spec...,"Air Conditioning,Anchor,Autopilot,Battery,Batt...",2020-09-18
5301,"EUR 440.000,-",Power Boats,"Cabin Boat,Motor Yacht,Offshore Boat",Performance power boats,1307,NaN,", ,, ,Used boat,Unleaded",2013.0,very good,13.33 m,3.40 m,1.00 m,NaN,NaN,12.0,2.0,6.0,NaN,NaN,2.0,NaN,GRP,230 l,NaN,Sterndrive,Mercruiser,3 x 430 HP / 316 kW,1300 l,Unleaded,330 h,NaN,NaN,Italy » Lake Garda » Gardasee,345,NaN,For sale is Performance 1307 from 2013 in spec...,"Air Conditioning,Anchor,Autopilot,Battery,Batt...",2020-09-18
5372,"CHF 34.150,-",Power Boats,Bowrider,AMT power boats,175 BR,NaN,new boat from stock,2019.0,as new,5.15 m,2.08 m,0.60 m,520 kg,NaN,6.0,NaN,NaN,white white,NaN,NaN,NaN,GRP,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Vierwaldstättersee » Beckenried,196,NaN,The AMT 175 BR is a Nordic product with excell...,"Anchor,Battery,Bimini Top,Compass,Depth Instru...",2020-01-28
4581,"CHF 34.150,-",Power Boats,Bowrider,AMT power boats,175 BR,NaN,new boat from stock,2019.0,as new,5.15 m,2.08 m,0.60 m,520 kg,NaN,6.0,NaN,NaN,white white,NaN,NaN,NaN,GRP,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Vierwaldstättersee » Beckenried,196,NaN,The AMT 175 BR is a Nordic product with excell...,"Anchor,Battery,Bimini Top,Compass,Depth Instru...",2020-01-28
5305,"EUR 69.000,-",Power Boats,"Classic,Motor Yacht",Spertini power boats,18 m,NaN,", ,Used boat,Diesel",1977.0,used,18.00 m,5.35 m,1.30 m,32000 kg,A - Ocean,10.0,3.0,6.0,white white,2.0,NaN,2.0,Wood,400 l,NaN,Inboard with Shaft,GM V 12,NaN,1800 l,Diesel,NaN,NaN,NaN,Spain » Mallorca » Palma,227,"ALALUNGA 18M,Built by Cantieri Navali Spertini...",NaN,NaN,2020-08-11
3783,"EUR 69.000,-",Power Boats,"Classic,Motor Yacht",Spertini power boats,18 m,NaN,", ,Used boat,Diesel",1977.0,used,18.00 m,5.35 m,1.30 m,32000 kg,A - Ocean,10.0,3.0,6.0,white white,2.0,NaN,2.0,Wood,400 l,NaN,Inboard with Shaft,GM V 12,NaN,1800 l,Diesel,NaN,NaN,NaN,Spain » Mallorca » Palma,227,"ALALUNGA 18M,Built by Cantieri Navali Spertini...",NaN,NaN,2020-08-11

In [ ]:
train_val = train_val.drop_duplicates(keep='first')

In [ ]:
#Now let's identify the false duplicates. 
#In general we have a unique ID for a client, given that it is not the case in this databse, we will consider that an observation is unique if the observation are the same for those 5 features: ['Model', 'Type', 'Year Built','Location', 'Equipment']

# 5 features to represents a unique boat.
features_analyze_duplicates = ['Model', 'Type', 'Year Built','Location', 'Equipment']

# sort the features for a better display of the false duplicates
cols_sort = features_analyze_duplicates + [col for col in train_val.columns if col not in features_analyze_duplicates]

# false duplicates - any entry where ANY of the features OTHER than the 5 features above are different
train_val[train_val.duplicated(subset = features_analyze_duplicates, keep=False)][cols_sort].sort_values(by='Model')[:10]

,Model,Type,Year Built,Location,Equipment,Price,Category,Boat Type,Manufacturer,Boat name,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Number of views last 7 days,Comments,Additional Comments,Advertisement Date
4746,10,Used boat,1972.0,Netherlands » onbekend,NaN,"EUR 25.000,-",Power Boats,Motor Yacht,Altena power boats,Mulmeli,NaN,10.00 m,3.20 m,1.10 m,NaN,NaN,NaN,NaN,2.0,White,NaN,NaN,NaN,Steel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Het interieur is volledig opnieuw ontworpen. A...,NaN,2020-08-17
5241,10,Used boat,1972.0,Netherlands » onbekend,NaN,"EUR 25.000,-",Power Boats,Motor Yacht,Altena power boats,Mulmeli,NaN,10.00 m,3.20 m,1.10 m,NaN,NaN,NaN,NaN,2.0,White,NaN,NaN,NaN,Steel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Het interieur is volledig opnieuw ontworpen. A...,NaN,2020-08-17
2643,126 Family,"Used boat,Diesel",2012.0,Netherlands » In verkoophaven,"Air Conditioning,Anchor,Autopilot,Battery,Batt...","EUR 229.000,-",Power Boats,Trawler,Altena power boats,Aventura,NaN,12.66 m,3.95 m,1.27 m,NaN,NaN,NaN,NaN,3.0,Beige,NaN,NaN,NaN,Steel,NaN,NaN,NaN,Vetus Deutz DTA44,1 x 1 HP / 0.7 kW,1490 l,Diesel,475 h,NaN,NaN,110,This vessel is extremely well maintained and i...,NaN,2020-04-01
5246,126 Family,"Used boat,Diesel",2012.0,Netherlands » In verkoophaven,"Air Conditioning,Anchor,Autopilot,Battery,Batt...","EUR 229.000,-",Power Boats,Trawler,Altena power boats,Aventura,NaN,12.66 m,3.95 m,1.27 m,NaN,NaN,NaN,NaN,3.0,Beige,NaN,NaN,NaN,Steel,NaN,NaN,NaN,Vetus Deutz DTA44,1 x 1 HP / 0.7 kW,1490 l,Diesel,475 h,NaN,NaN,110,This vessel is extremely well maintained and i...,NaN,2020-04-01
5301,1307,", ,, ,Used boat,Unleaded",2013.0,Italy » Lake Garda » Gardasee,"Air Conditioning,Anchor,Autopilot,Battery,Batt...","EUR 440.000,-",Power Boats,"Cabin Boat,Motor Yacht,Offshore Boat",Performance power boats,NaN,very good,13.33 m,3.40 m,1.00 m,NaN,NaN,12.0,2.0,6.0,NaN,NaN,2.0,NaN,GRP,230 l,NaN,Sterndrive,Mercruiser,3 x 430 HP / 316 kW,1300 l,Unleaded,330 h,NaN,NaN,345,NaN,For sale is Performance 1307 from 2013 in spec...,2020-09-18
2203,1307,", ,, ,Used boat,Unleaded",2013.0,Italy » Lake Garda » Gardasee,"Air Conditioning,Anchor,Autopilot,Battery,Batt...","EUR 440.000,-",Power Boats,"Cabin Boat,Motor Yacht,Offshore Boat",Performance power boats,NaN,very good,13.33 m,3.40 m,1.00 m,NaN,NaN,12.0,2.0,6.0,NaN,NaN,2.0,NaN,GRP,230 l,NaN,Sterndrive,Mercruiser,3 x 430 HP / 316 kW,1300 l,Unleaded,330 h,NaN,NaN,345,NaN,For sale is Performance 1307 from 2013 in spec...,2020-09-18
4581,175 BR,new boat from stock,2019.0,Switzerland » Vierwaldstättersee » Beckenried,"Anchor,Battery,Bimini Top,Compass,Depth Instru...","CHF 34.150,-",Power Boats,Bowrider,AMT power boats,NaN,as new,5.15 m,2.08 m,0.60 m,520 kg,NaN,6.0,NaN,NaN,white white,NaN,NaN,NaN,GRP,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,196,NaN,The AMT 175 BR is a Nordic product with excell...,2020-01-28
5372,175 BR,new boat from stock,2019.0,Switzerland » Vierwaldstättersee » Beckenried,"Anchor,Battery,Bimini Top,Compass,Depth Instru...","CHF 34.150,-",Power Boats,Bowrider,AMT power boats,NaN,as new,5.15 m,2.08 m,0.60 m,520 kg,NaN,6.0,NaN,NaN,white white,NaN,NaN,NaN,GRP,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,196,NaN,The AMT 175 BR is a Nordic product with excell...,2020-01-28
5305,18 m,", ,Used boat,Diesel",1977.0,Spain » Mallorca » Palma,NaN,"EUR 69.000,-",Power Boats,"Classic,Motor Yacht",Spertini power boats,NaN,used,18.00 m,5.35 m,1.30 m,32000 kg,A - Ocean,10.0,3.0,6.0,white white,2.0,NaN,2.0,Wood,400 l,NaN,Inboard with Shaft,GM V 12,NaN,1800 l,Diesel,NaN,NaN,NaN,227,"ALALUNGA 18M,Built by Cantieri Navali Spertini...",NaN,2020-08-11
3783,18 m,", ,Used boat,Diesel",1977.0,Spain » Mallorca » Palma,NaN,"EUR 69.000,-",Power Boats,"Classic,Motor Yacht",Spertini power boats,NaN,used,18.00 m,5.35 m,1.30 m,32000 kg,A - Ocean,10.0,3.0,6.0,white white,2.0,NaN,2.0,Wood,400 l,NaN,Inboard with Shaft,GM V 12,NaN,1800 l,Diesel,NaN,NaN,NaN,227,"ALALUNGA 18M,Built by Cantieri Navali Spertini...",NaN,2020-08-11

In [ ]:
#The first 4 lines are duplicated, they represent the same boat. However in this database the price is changing. 
#Keep in mind that in some database all values of features could change / evolve.
#Given the fact that we are trying to predict the price of boats given their characteristics, we could take the most recent price, we could take a random price within the existing ones, here, we will use the average price.
#The problem is that the Price is not in the same currency and it is not in a numerical features so we need to transform it.

In [ ]:
train_val['Price'].unique()

array(['EUR 3.490,-', 'DKK 25.900,-', 'EUR 3.399,-', ..., 'EUR 4.516,-',
       'EUR 4.499,-', 'CHF 3.780,-'], dtype=object)

In [ ]:
# First, delete the price having the value `Price on request`
train_val = train_val[train_val['Price'] != 'Price on request']

In [ ]:
# Create a conversion table (via a two-dimensional array)
create_change = {'Currency_A': ['EUR', 'GBP', 'DKK', 'SEK', 'USD', 'CHF'], 
               'Currency_B': ['CHF', 'CHF', 'CHF', 'CHF', 'CHF', 'CHF'], 
               'Change': [1.05, 1.24, 0.14, 0.11, 0.92, 1]}

change = pd.DataFrame(data=create_change)
change

  Currency_A Currency_B  Change
0        EUR        CHF    1.05
1        GBP        CHF    1.24
2        DKK        CHF    0.14
3        SEK        CHF    0.11
4        USD        CHF    0.92
5        CHF        CHF    1.00

In [ ]:
# Create a 'dictionary' from the above currency conversion table
dict_change = dict(zip(change.iloc[:,0], change.iloc[:,2]))
dict_change

{'CHF': 1.0, 'DKK': 0.14, 'EUR': 1.05, 'GBP': 1.24, 'SEK': 0.11, 'USD': 0.92}

In [ ]:
# Create a data partition create on price feature

data_part = train_val['Price'].str.partition(' ')
data_part

        0  1          2
0     EUR       3.490,-
1     DKK      25.900,-
2     EUR       3.399,-
3     CHF       3.500,-
4     CHF       3.480,-
...   ... ..        ...
5423  EUR      41.000,-
5424  EUR     110.000,-
5425  EUR      90.000,-
5426  EUR      59.500,-
5427  EUR     121.900,-

[5402 rows x 3 columns]

In [ ]:
# Clean Pound Sterling Sign and convert to String

data_part[0] = data_part[0].str.replace('£', 'GBP')
data_part

        0  1          2
0     EUR       3.490,-
1     DKK      25.900,-
2     EUR       3.399,-
3     CHF       3.500,-
4     CHF       3.480,-
...   ... ..        ...
5423  EUR      41.000,-
5424  EUR     110.000,-
5425  EUR      90.000,-
5426  EUR      59.500,-
5427  EUR     121.900,-

[5402 rows x 3 columns]

In [ ]:
# Replace thousand separator of . with ,

data_part[2] = data_part[2].str.replace('.','')

# Replace hyphen with ''

data_part[2] = data_part[2].str.replace('-','')
data_part

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

        0  1        2
0     EUR       3490,
1     DKK      25900,
2     EUR       3399,
3     CHF       3500,
4     CHF       3480,
...   ... ..      ...
5423  EUR      41000,
5424  EUR     110000,
5425  EUR      90000,
5426  EUR      59500,
5427  EUR     121900,

[5402 rows x 3 columns]

In [ ]:
# Replace , with '' - could immediately replace ,- with ''

data_part[2] = data_part[2].str.replace(',','')
data_part

        0  1       2
0     EUR       3490
1     DKK      25900
2     EUR       3399
3     CHF       3500
4     CHF       3480
...   ... ..     ...
5423  EUR      41000
5424  EUR     110000
5425  EUR      90000
5426  EUR      59500
5427  EUR     121900

[5402 rows x 3 columns]

In [ ]:
# Reformat column 2 to floating

data_part[2] = data_part[2].astype(float, errors = 'raise')
data_part

        0  1         2
0     EUR       3490.0
1     DKK      25900.0
2     EUR       3399.0
3     CHF       3500.0
4     CHF       3480.0
...   ... ..       ...
5423  EUR      41000.0
5424  EUR     110000.0
5425  EUR      90000.0
5426  EUR      59500.0
5427  EUR     121900.0

[5402 rows x 3 columns]

In [ ]:
# Apply the price conversion to the cleaned price column via prior created dictionary

new_price = data_part.apply(lambda x: dict_change[x[0]] * x[2], axis=1) #lambda x: = special function for currency conversion?
data_part

        0  1         2
0     EUR       3490.0
1     DKK      25900.0
2     EUR       3399.0
3     CHF       3500.0
4     CHF       3480.0
...   ... ..       ...
5423  EUR      41000.0
5424  EUR     110000.0
5425  EUR      90000.0
5426  EUR      59500.0
5427  EUR     121900.0

[5402 rows x 3 columns]

In [ ]:
# Everything is on the same currency and stored in new dataset "new_price" - CHECK

new_price

0         3664.50
1         3626.00
2         3568.95
3         3500.00
4         3480.00
          ...
5423     43050.00
5424    115500.00
5425     94500.00
5426     62475.00
5427    127995.00
Length: 5402, dtype: float64

In [ ]:
# SUMMARY of everything above

data_part = train_val['Price'].str.partition(' ')         # exemple : EUR 3.490,-  -> ('EUR', ' ', '3.490,-')
    
    # Replace '£' by 'GBP' for the change dictionnary
data_part[0] = data_part[0].str.replace('£', 'GBP')          # data_part[0] = first column of the DataFrame who save the first value of the tuples
    
    # delete '.' who split the thousand in the price      
data_part[2] = data_part[2].str.replace('.', '')             # data_part[2] = third column of the DataFrame who save the first value of the tuples
    
    # delete ',-' to get the price
data_part[2] = data_part[2].str.replace(',-', '')
    
    # Convert the column in float in order to do the comparison
data_part[2] = data_part[2].astype(float, errors = 'raise')
    
    # price conversion
new_price = data_part.apply(lambda x: dict_change[x[0]] * x[2], axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  if __name__ == '__main__':

In [ ]:
# Join the new price to the base data table so that we have it available for the algorithm

train_val.head(2)

new_price = pd.DataFrame(new_price, columns=['Price_CHF'])
train_val = new_price.merge(train_val, left_index=True, right_index=True) # perform a right join - Price_CHF column + everything else on the right
train_val

,Price_CHF,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
0,3664.50,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN,2020-08-19
1,3626.00,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN,2020-08-01
2,3568.95,"EUR 3.399,-",Power Boats,Fishing Boat,Linder power boats,355 Sportsman,NaN,new boat from stock,2019.0,new,3.55 m,1.46 m,NaN,84 kg,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bayern » München,58,NaN,"For engines up to Type 8, the environmentally ...",NaN,2020-02-03
3,3500.00,"CHF 3.500,-",Power Boats,Sport Boat,Four Winns power boats,170 Freedom,NaN,"Used boat,Unleaded",1991.0,good,5.60 m,2.20 m,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,OMC Cobra,1 x 130 HP / 96 kW,80 l,Unleaded,NaN,NaN,NaN,Switzerland » Neuenburgersee » Cudrefin,NaN,NaN,Boat is optically in good condition considerin...,"Compass,Fire Extinguisher,Full Enclosure,Radio...",2020-05-14
4,3480.00,"CHF 3.480,-",Power Boats,Fishing Boat,Marine power boats,14 M - Ruder u. Motorboot,NaN,new boat from stock,NaN,NaN,4.13 m,1.41 m,NaN,59 kg,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,bis 10 PS motorisierbar (Permission for Lake o...,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa am Zürichsee,145,NaN,A durable and sleek rowing and motor boat with...,NaN,2020-03-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5423,43050.00,"EUR 41.000,-",Power Boats,Motor Yacht,Cranchi power boats,ACQUAMARINA 31,NaN,"Used boat,Diesel",1999.0,NaN,9.69 m,3.07 m,1.00 m,5350 kg,NaN,10.0,1.0,2.0,Bianco,NaN,NaN,1.0,GRP,NaN,NaN,NaN,Volvo Penta AD41PA,2 x 200 HP / 147 kW,NaN,Diesel,700 h,NaN,NaN,Italy » Liguria » Liguria,51,"Cranchi Aquamarina 31,Boat in excellent genera...",NaN,"Anchor,Autopilot,Battery,Battery Charger,Bilge...",2020-07-25
5424,115500.00,"EUR 110.000,-",Power Boats,Motor Yacht,Hatteras power boats,53,NaN,"Used boat,Diesel",1974.0,very good,18.00 m,4.90 m,1.50 m,NaN,NaN,NaN,3.0,6.0,NaN,NaN,NaN,3.0,GRP,NaN,NaN,NaN,GM,2 x 500 HP / 368 kW,2000 l,Diesel,1500 h,NaN,NaN,Italy » Informationen BCM-Yachtsales,68,"(J) Das Boot fährt unter dt. Flagge.,Verbrauch...",NaN,NaN,2020-04-19
5425,94500.00,"EUR 90.000,-",Power Boats,Flybridge,Jeanneau power boats,Merry Fisher 10,NaN,"Used boat,Diesel",2011.0,NaN,9.07 m,3.33 m,0.90 m,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yanmar 1 x 380 HP,NaN,375 l,Diesel,180 h,NaN,NaN,Italy » Aprilia Marittima di Latisana,134,Wir sprechen Deutsch. Vermittlungsprovision ni...,NaN,"Battery,Battery Charger,Bilge Pump,Bow Thruste...",2020-06-11
5426,62475.00,"EUR 59.500,-",Power Boats,Fishing Boat,San Remo power boats,Fisher Top 930,NaN,"Used boat,Unleaded",2008.0,very good,9.30 m,2.99 m,0.95 m,NaN,NaN,10.0,2.0,4.0,white,1.0,NaN,1.0,GRP,400 l,NaN,"Outboard, four-stroke",Honda,2 x 150 HP / 110 kW,400 l,Unleaded,170 h,NaN,NaN,Portugal » Lisbon,56,"Closed bow cabin with double bed, Closed later...",NaN,"Anchor,Battery,Battery Charger,Bilge pump,Bow ...",2020-06-04
5427,127995.00,"EUR 121.900,-",Power Boats,Sport Boat,Cranchi power boats,CRANCHI E26 RIDER,NaN,"new boat from stock,Unleaded",2019.0,NaN,7.85 m,2.49 m,0.80 m,2000 kg,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,PVC,NaN,NaN,NaN,SUZUKI,1 x 300 HP / 221 kW,1 l,Unleaded,NaN,NaN,NaN,"Spain » Maó-Mahón, Espagne",101,NaN,NaN,"Bilge Pump,Bow Thruster,Compass,Deck Shower,Fl...",2020-09-09

In [ ]:
# CHECK on DKK example

round(25900*0.14,2)

3626.0

In [ ]:
# Duplicate Extraction based on specific features

#features_analyze_duplicates was declared above - 5 values

duplicated_boat = train_val[train_val.duplicated(subset=features_analyze_duplicates, keep=False)].reset_index(drop=True)

# drop=True is necessary if

In [ ]:
duplicated_boat

,Price_CHF,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
0,7290.0,"CHF 7.290,-",Power Boats,Sport Boat,Linder power boats,Sportsman 445 Basic (Aluminiumboot),NaN,new boat from stock,NaN,NaN,4.51 m,1.75 m,NaN,189 kg,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Constance » Uttwil,195,NaN,"A gliding family boat, suitable for sport fish...",NaN,2020-12-18
1,8925.0,"EUR 8.500,-",Power Boats,Center console boat,Allegra power boats,18 open,NaN,Used boat,2018.0,NaN,5.30 m,2.20 m,0.50 m,500 kg,NaN,6.0,NaN,NaN,white rot,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italy » Lombardia - Trentino Alto Adige » Moniga,165,"Max power: 90 hp,Recommended power: 60 hp,Desi...",NaN,"Bilge Pump,Bimini Top,Full Enclosure",2020-04-28
2,10500.0,"EUR 10.000,-",Power Boats,Working Boat,Costruzioni Navali Srl power boats,Rimorchiatore,NaN,"Used boat,Diesel",1975.0,good,12.00 m,3.00 m,NaN,NaN,NaN,NaN,NaN,NaN,grey Rosso,NaN,NaN,NaN,Steel,NaN,NaN,NaN,FIAT 521,1 x 160 HP / 118 kW,NaN,Diesel,NaN,NaN,NaN,Italy » Lombardia - Trentino Alto Adige » Cremona,182,"Used tugboat called ""Levante"", year 1975.,,Cha...",NaN,NaN,2020-04-06
3,11550.0,"EUR 11.000,-",Power Boats,Motor Yacht,Chrysler power boats,CONQUEROR 105,NaN,"Used boat,Unleaded",1974.0,NaN,4.90 m,2.10 m,0.40 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,AU?ENBORDER 2 TAKT,1 x 115 HP / 85 kW,45 l,Unleaded,NaN,NaN,NaN,Germany » INFO DD-YACHTING,125,BESCHREIBUNG: Es handelt sich um ein offenes S...,NaN,Battery,2020-03-08
4,12600.0,"EUR 12.000,-",Power Boats,Cabin Boat,Albin Marine power boats,Albin 25 de Luxe,NaN,"Used boat,Diesel",1978.0,well-groomed,7.60 m,2.60 m,0.70 m,1'750 kg,NaN,6.0,NaN,5.0,NaN,NaN,NaN,NaN,GRP,80 l,40 l,Inboard with Shaft,Volvo Penta MD 17C,1 x 35 HP / 26 kW,90 l,Diesel,NaN,NaN,NaN,Finland » Laukaa,NaN,NaN,Trailer 2500 ? Inspection valid until 2021.,"Anchor,Bilge Pump,Boiler,CD Player,Compass,Dep...",2020-04-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,43050.0,"EUR 41.000,-",Power Boats,Motor Yacht,Cranchi power boats,ACQUAMARINA 31,NaN,"Used boat,Diesel",1999.0,NaN,9.69 m,3.07 m,1.00 m,5350 kg,NaN,10.0,1.0,2.0,Bianco,NaN,NaN,1.0,GRP,NaN,NaN,NaN,Volvo Penta AD41PA,2 x 200 HP / 147 kW,NaN,Diesel,700 h,NaN,NaN,Italy » Liguria » Liguria,51,"Cranchi Aquamarina 31,Boat in excellent genera...",NaN,"Anchor,Autopilot,Battery,Battery Charger,Bilge...",2020-07-25
538,115500.0,"EUR 110.000,-",Power Boats,Motor Yacht,Hatteras power boats,53,NaN,"Used boat,Diesel",1974.0,very good,18.00 m,4.90 m,1.50 m,NaN,NaN,NaN,3.0,6.0,NaN,NaN,NaN,3.0,GRP,NaN,NaN,NaN,GM,2 x 500 HP / 368 kW,2000 l,Diesel,1500 h,NaN,NaN,Italy » Informationen BCM-Yachtsales,68,"(J) Das Boot fährt unter dt. Flagge.,Verbrauch...",NaN,NaN,2020-04-19
539,94500.0,"EUR 90.000,-",Power Boats,Flybridge,Jeanneau power boats,Merry Fisher 10,NaN,"Used boat,Diesel",2011.0,NaN,9.07 m,3.33 m,0.90 m,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yanmar 1 x 380 HP,NaN,375 l,Diesel,180 h,NaN,NaN,Italy » Aprilia Marittima di Latisana,134,Wir sprechen Deutsch. Vermittlungsprovision ni...,NaN,"Battery,Battery Charger,Bilge Pump,Bow Thruste...",2020-06-11
540,62475.0,"EUR 59.500,-",Power Boats,Fishing Boat,San Remo power boats,Fisher Top 930,NaN,"Used boat,Unleaded",2008.0,very good,9.30 m,2.99 m,0.95 m,NaN,NaN,10.0,2.0,4.0,white,1.0,NaN,1.0,GRP,400 l,NaN,"Outboard, four-stroke",Honda,2 x 150 HP / 110 kW,400 l,Unleaded,170 h,NaN,NaN,Portugal » Lisbon,56,"Closed bow cabin with double bed, Closed later...",NaN,"Anchor,Battery,Battery Charger,Bilge pump,Bow ...",2020-06-04
541,127995.0,"EUR 121.900,-",Power Boats,Sport Boat,Cranchi power boats,CRANCHI E26 RIDER,NaN,"new boat from stock,Unleaded",2019.0,NaN,7.85 m,2.49 m,0.80 m,2000 kg,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,PVC,NaN,NaN,NaN,SUZUKI,1 x 300 HP / 221 kW,1 l,Unleaded,NaN,NaN,NaN,"Spain » Maó-Mahón, Espagne",101,NaN,NaN,"Bilge Pump,Bow Thruster,Compass,Deck Shower,Fl...",2020-09-09

In [ ]:
# train_val is prime database
# duplicated_boat is parsed
# delete duplicated entries from duplicated_boat so as to only have ONE line for every boat
# then update train_val with the simplified rows from the cleaned duplicated_boat (e.g. first occurrence only etc.)

# ~ results in inverting the condition

#train_val = holds UNIQUE entries only, BUT NONE for dupes as per features_analyze_duplicates
#duplicated_boat holds ONLY DUPLICATES where the five conditions as specified in features_analyze_duplicates are met

# Goal is to reduce duplicated_boat to only have UNIQUES (one row per boat) as well
# Then, duplicated_boat is APPENDED to train_val to create a table which holds ONLY unique entries

train_val = train_val[~train_val.duplicated(subset=features_analyze_duplicates, keep=False)].reset_index(drop=True)

In [ ]:
duplicated_boat['dupkey_id'] = duplicated_boat.groupby(by=features_analyze_duplicates, sort=False, dropna=False).ngroup()+1

duplicated_boat

,Price_CHF,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date,dupkey_id
0,7290.0,"CHF 7.290,-",Power Boats,Sport Boat,Linder power boats,Sportsman 445 Basic (Aluminiumboot),NaN,new boat from stock,NaN,NaN,4.51 m,1.75 m,NaN,189 kg,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Constance » Uttwil,195,NaN,"A gliding family boat, suitable for sport fish...",NaN,2020-12-18,1
1,8925.0,"EUR 8.500,-",Power Boats,Center console boat,Allegra power boats,18 open,NaN,Used boat,2018.0,NaN,5.30 m,2.20 m,0.50 m,500 kg,NaN,6.0,NaN,NaN,white rot,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italy » Lombardia - Trentino Alto Adige » Moniga,165,"Max power: 90 hp,Recommended power: 60 hp,Desi...",NaN,"Bilge Pump,Bimini Top,Full Enclosure",2020-04-28,2
2,10500.0,"EUR 10.000,-",Power Boats,Working Boat,Costruzioni Navali Srl power boats,Rimorchiatore,NaN,"Used boat,Diesel",1975.0,good,12.00 m,3.00 m,NaN,NaN,NaN,NaN,NaN,NaN,grey Rosso,NaN,NaN,NaN,Steel,NaN,NaN,NaN,FIAT 521,1 x 160 HP / 118 kW,NaN,Diesel,NaN,NaN,NaN,Italy » Lombardia - Trentino Alto Adige » Cremona,182,"Used tugboat called ""Levante"", year 1975.,,Cha...",NaN,NaN,2020-04-06,3
3,11550.0,"EUR 11.000,-",Power Boats,Motor Yacht,Chrysler power boats,CONQUEROR 105,NaN,"Used boat,Unleaded",1974.0,NaN,4.90 m,2.10 m,0.40 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,AU?ENBORDER 2 TAKT,1 x 115 HP / 85 kW,45 l,Unleaded,NaN,NaN,NaN,Germany » INFO DD-YACHTING,125,BESCHREIBUNG: Es handelt sich um ein offenes S...,NaN,Battery,2020-03-08,4
4,12600.0,"EUR 12.000,-",Power Boats,Cabin Boat,Albin Marine power boats,Albin 25 de Luxe,NaN,"Used boat,Diesel",1978.0,well-groomed,7.60 m,2.60 m,0.70 m,1'750 kg,NaN,6.0,NaN,5.0,NaN,NaN,NaN,NaN,GRP,80 l,40 l,Inboard with Shaft,Volvo Penta MD 17C,1 x 35 HP / 26 kW,90 l,Diesel,NaN,NaN,NaN,Finland » Laukaa,NaN,NaN,Trailer 2500 ? Inspection valid until 2021.,"Anchor,Bilge Pump,Boiler,CD Player,Compass,Dep...",2020-04-10,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,43050.0,"EUR 41.000,-",Power Boats,Motor Yacht,Cranchi power boats,ACQUAMARINA 31,NaN,"Used boat,Diesel",1999.0,NaN,9.69 m,3.07 m,1.00 m,5350 kg,NaN,10.0,1.0,2.0,Bianco,NaN,NaN,1.0,GRP,NaN,NaN,NaN,Volvo Penta AD41PA,2 x 200 HP / 147 kW,NaN,Diesel,700 h,NaN,NaN,Italy » Liguria » Liguria,51,"Cranchi Aquamarina 31,Boat in excellent genera...",NaN,"Anchor,Autopilot,Battery,Battery Charger,Bilge...",2020-07-25,221
538,115500.0,"EUR 110.000,-",Power Boats,Motor Yacht,Hatteras power boats,53,NaN,"Used boat,Diesel",1974.0,very good,18.00 m,4.90 m,1.50 m,NaN,NaN,NaN,3.0,6.0,NaN,NaN,NaN,3.0,GRP,NaN,NaN,NaN,GM,2 x 500 HP / 368 kW,2000 l,Diesel,1500 h,NaN,NaN,Italy » Informationen BCM-Yachtsales,68,"(J) Das Boot fährt unter dt. Flagge.,Verbrauch...",NaN,NaN,2020-04-19,170
539,94500.0,"EUR 90.000,-",Power Boats,Flybridge,Jeanneau power boats,Merry Fisher 10,NaN,"Used boat,Diesel",2011.0,NaN,9.07 m,3.33 m,0.90 m,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yanmar 1 x 380 HP,NaN,375 l,Diesel,180 h,NaN,NaN,Italy » Aprilia Marittima di Latisana,134,Wir sprechen Deutsch. Vermittlungsprovision ni...,NaN,"Battery,Battery Charger,Bilge Pump,Bow Thruste...",2020-06-11,177
540,62475.0,"EUR 59.500,-",Power Boats,Fishing Boat,San Remo power boats,Fisher Top 930,NaN,"Used boat,Unleaded",2008.0,very good,9.30 m,2.99 m,0.95 m,NaN,NaN,10.0,2.0,4.0,white,1.0,NaN,1.0,GRP,400 l,NaN,"Outboard, four-stroke",Honda,2 x 150 HP / 110 kW,400 l,Unleaded,170 h,NaN,NaN,Portugal » Lisbon,56,"Closed bow cabin with double bed, Closed later...",NaN,"Anchor,Battery,Battery Charger,Bilge pump,Bow ...",2020-06-04,204
541,127995.0,"EUR 121.900,-",Power Boats,Sport Boat,Cranchi power boats,CRANCHI E26 RIDER,NaN,"new boat from stock,Unleaded",2019.0,NaN,7.85 m,2.49 m,0.80 m,2000 kg,NaN,NaN,NaN,NaN,Other,NaN,NaN,NaN,PVC,NaN,NaN,NaN,SUZUKI,1 x 300 HP / 221 kW,1 l,Unleaded,NaN,NaN,NaN,"Spain » Maó-Mahón, Espagne",101,NaN,NaN,"Bilge Pump,Bow Thruster,Compass,Deck Shower,Fl...",2020-09-09,164

In [ ]:
# Would need to delete some additional columns - at present not the same as with what Guillaume shows

#list_col_to_delete_part1 = ['Category','Displacement','Number of views last 7 days','Additional Comments']

# Also, if there are columns that are non-understandable, it is recommendable to delete them
# Rationale: These columns are NON-DESCRIPTIVE of the price of the boat itself --> we delete it in order to have better data for feeding it into our predictive model
# These variables are not correlated to price at all, potentially
# Assumes the price can perfectly be predicted with all the remaining variables that will remain after cleaning

#duplicated_boat = duplicated_boat.drop(columns = list_col_to_delete_part1, inplace = True)
#duplicated_boat

In [ ]:
duplicated_boat[['dupkey_id', 'Price_CHF']+cols_sort].sort_values(by='dupkey_id')[:4]

# Issue: we assume a boat is IDENTICAL if only five features are met: features_analyze_duplicates
# This assumption misses some of the differences as can be seen below
# To balance, we just calculated the average price to pick up the differences in features still

,dupkey_id,Price_CHF,Model,Type,Year Built,Location,Equipment,Price,Category,Boat Type,Manufacturer,Boat name,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Number of views last 7 days,Comments,Additional Comments,Advertisement Date
0,1,7290.0,Sportsman 445 Basic (Aluminiumboot),new boat from stock,NaN,Switzerland » Lake Constance » Uttwil,NaN,"CHF 7.290,-",Power Boats,Sport Boat,Linder power boats,NaN,NaN,4.51 m,1.75 m,NaN,189 kg,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,195,NaN,"A gliding family boat, suitable for sport fish...",2020-12-18
366,1,7290.0,Sportsman 445 Basic (Aluminiumboot),new boat from stock,NaN,Switzerland » Lake Constance » Uttwil,NaN,"CHF 7.290,-",Power Boats,Sport Boat,Linder power boats,NaN,NaN,4.51 m,1.75 m,NaN,189 kg,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,195,NaN,"A gliding family boat, suitable for sport fish...",2020-12-18
1,2,8925.0,18 open,Used boat,2018.0,Italy » Lombardia - Trentino Alto Adige » Moniga,"Bilge Pump,Bimini Top,Full Enclosure","EUR 8.500,-",Power Boats,Center console boat,Allegra power boats,NaN,NaN,5.30 m,2.20 m,0.50 m,500 kg,NaN,6.0,NaN,NaN,white rot,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165,"Max power: 90 hp,Recommended power: 60 hp,Desi...",NaN,2020-04-28
315,2,8925.0,18 open,Used boat,2018.0,Italy » Lombardia - Trentino Alto Adige » Moniga,"Bilge Pump,Bimini Top,Full Enclosure","EUR 8.500,-",Power Boats,Center console boat,Allegra power boats,NaN,NaN,5.30 m,2.20 m,0.50 m,500 kg,NaN,6.0,NaN,NaN,white rot,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165,"Max power: 90 hp,Recommended power: 60 hp,Desi...",NaN,2020-04-28

In [ ]:
# Create the Average Price

# KEY: Oftentimes the groupby in Python is not what was expected --> because parameter 'dropna=False'
# dropna=False means, grouping by missing values will not be performed (like a Model description which is empty)

mean_price = pd.DataFrame(duplicated_boat.groupby(by='dupkey_id', dropna=False)['Price_CHF'].mean()).reset_index(drop=True)

#Grouping part:  (duplicated_boat.groupby(by='dupkey_id', dropna=False)
#Aggregation part:  ['Price_CHF'].mean()

#Grouping by multiple variables: add further group variables in the grouping part

#mean_price = pd.DataFrame(duplicated_boat.groupby(by=['dupkey_id', 'Other', 'Model', 'etc.'], dropna=False)['Price_CHF'].mean()).reset_index(drop=True)

#Aggregating by variables: add further variables in the aggregation part

#mean_price = pd.DataFrame(duplicated_boat.groupby(by=['dupkey_id', 'Other', 'Model', 'etc.'], dropna=False)['Price_CHF']['Other'].mean()).reset_index(drop=True)

#Arithmetic mean:  .mean()
#Counting:         .size()
#Median:           .median()

In [ ]:
mean_price.shape

#should result in a table with dimensions (25,1)!!!
#but does result in (265,1) - ISSUE somewhere!

(265, 1)

In [ ]:
# Original size of non-aggregated dataset

duplicated_boat.shape

#should be (59,35)!!!
#but does result in (542,40) - ISSUE with not having deleted 5 columns above!!!

(542, 40)

In [ ]:
duplicated_boat = duplicated_boat.drop_duplicates(subset='dupkey_id', keep='first').reset_index(drop=True)

In [ ]:
# After the above step, duplicated_boat should have 25 rows and 35 columns!)
# Row reduction has worked, but I guess there is an error with the column size due to not deleting the five columns earlier...

duplicated_boat.shape

(265, 40)

In [ ]:
#Drop new price column...Why?

duplicated_boat.drop(columns='Price_CHF', inplace=True)

In [ ]:
duplicated_boat_clean = duplicated_boat.merge(mean_price, how='left', left_index=True, right_index=True)
duplicated_boat_clean.head()


#left_index=True, right_index=True

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date,dupkey_id,Price_CHF
0,"CHF 7.290,-",Power Boats,Sport Boat,Linder power boats,Sportsman 445 Basic (Aluminiumboot),NaN,new boat from stock,NaN,NaN,4.51 m,1.75 m,NaN,189 kg,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Constance » Uttwil,195,NaN,"A gliding family boat, suitable for sport fish...",NaN,2020-12-18,1,7290.0
1,"EUR 8.500,-",Power Boats,Center console boat,Allegra power boats,18 open,NaN,Used boat,2018.0,NaN,5.30 m,2.20 m,0.50 m,500 kg,NaN,6.0,NaN,NaN,white rot,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italy » Lombardia - Trentino Alto Adige » Moniga,165,"Max power: 90 hp,Recommended power: 60 hp,Desi...",NaN,"Bilge Pump,Bimini Top,Full Enclosure",2020-04-28,2,8925.0
2,"EUR 10.000,-",Power Boats,Working Boat,Costruzioni Navali Srl power boats,Rimorchiatore,NaN,"Used boat,Diesel",1975.0,good,12.00 m,3.00 m,NaN,NaN,NaN,NaN,NaN,NaN,grey Rosso,NaN,NaN,NaN,Steel,NaN,NaN,NaN,FIAT 521,1 x 160 HP / 118 kW,NaN,Diesel,NaN,NaN,NaN,Italy » Lombardia - Trentino Alto Adige » Cremona,182,"Used tugboat called ""Levante"", year 1975.,,Cha...",NaN,NaN,2020-04-06,3,10500.0
3,"EUR 11.000,-",Power Boats,Motor Yacht,Chrysler power boats,CONQUEROR 105,NaN,"Used boat,Unleaded",1974.0,NaN,4.90 m,2.10 m,0.40 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,AU?ENBORDER 2 TAKT,1 x 115 HP / 85 kW,45 l,Unleaded,NaN,NaN,NaN,Germany » INFO DD-YACHTING,125,BESCHREIBUNG: Es handelt sich um ein offenes S...,NaN,Battery,2020-03-08,4,11550.0
4,"EUR 12.000,-",Power Boats,Cabin Boat,Albin Marine power boats,Albin 25 de Luxe,NaN,"Used boat,Diesel",1978.0,well-groomed,7.60 m,2.60 m,0.70 m,1'750 kg,NaN,6.0,NaN,5.0,NaN,NaN,NaN,NaN,GRP,80 l,40 l,Inboard with Shaft,Volvo Penta MD 17C,1 x 35 HP / 26 kW,90 l,Diesel,NaN,NaN,NaN,Finland » Laukaa,NaN,NaN,Trailer 2500 ? Inspection valid until 2021.,"Anchor,Bilge Pump,Boiler,CD Player,Compass,Dep...",2020-04-10,5,12600.0

In [ ]:
train_val.columns

Index(['Price_CHF', 'Price', 'Category', 'Boat Type', 'Manufacturer', 'Model',
       'Boat name', 'Type', 'Year Built', 'Condition', 'Length', 'Width',
       'Depth', 'Displacement', 'CE Design Category', 'Cert Number of People',
       'Number of Cabins', 'Number of beds', 'Hull Color', 'Number of Toilets',
       'Number of Bathrooms', 'Number of Showers', 'Material',
       'Fresh Water Cap', 'Holding Tank', 'Propulsion', 'Engine',
       'Engine Performance', 'Fuel Capacity', 'Fuel Type', 'Engine Hours',
       'Max Speed', 'Cruising Speed', 'Location',
       'Number of views last 7 days', 'Comments', 'Additional Comments',
       'Equipment', 'Advertisement Date'],
      dtype='object')

In [ ]:
duplicated_boat_clean.columns

Index(['Price', 'Category', 'Boat Type', 'Manufacturer', 'Model', 'Boat name',
       'Type', 'Year Built', 'Condition', 'Length', 'Width', 'Depth',
       'Displacement', 'CE Design Category', 'Cert Number of People',
       'Number of Cabins', 'Number of beds', 'Hull Color', 'Number of Toilets',
       'Number of Bathrooms', 'Number of Showers', 'Material',
       'Fresh Water Cap', 'Holding Tank', 'Propulsion', 'Engine',
       'Engine Performance', 'Fuel Capacity', 'Fuel Type', 'Engine Hours',
       'Max Speed', 'Cruising Speed', 'Location',
       'Number of views last 7 days', 'Comments', 'Additional Comments',
       'Equipment', 'Advertisement Date', 'dupkey_id', 'Price_CHF'],
      dtype='object')

In [ ]:
# Was macht das hier?

train_val2 = pd.concat( [train_val[cols_sort+['Price_CHF']] , duplicated_boat_clean[cols_sort+['Price_CHF']]] , axis=0)

In [ ]:
train_val2

,Model,Type,Year Built,Location,Equipment,Price,Category,Boat Type,Manufacturer,Boat name,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Number of views last 7 days,Comments,Additional Comments,Advertisement Date,Price_CHF
0,400 C,new boat from stock,2020.0,Germany » Bönningstedt,NaN,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,NaN,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,2020-08-19,3664.50
1,10 Classic Special Edition,new boat from stock,2020.0,Denmark » Svendborg,NaN,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,NaN,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,2020-08-01,3626.00
2,355 Sportsman,new boat from stock,2019.0,Germany » Bayern » München,NaN,"EUR 3.399,-",Power Boats,Fishing Boat,Linder power boats,NaN,new,3.55 m,1.46 m,NaN,84 kg,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,NaN,"For engines up to Type 8, the environmentally ...",2020-02-03,3568.95
3,170 Freedom,"Used boat,Unleaded",1991.0,Switzerland » Neuenburgersee » Cudrefin,"Compass,Fire Extinguisher,Full Enclosure,Radio...","CHF 3.500,-",Power Boats,Sport Boat,Four Winns power boats,NaN,good,5.60 m,2.20 m,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,OMC Cobra,1 x 130 HP / 96 kW,80 l,Unleaded,NaN,NaN,NaN,NaN,NaN,Boat is optically in good condition considerin...,2020-05-14,3500.00
4,14 M - Ruder u. Motorboot,new boat from stock,NaN,Switzerland » Lake of Zurich » Stäfa am Zürichsee,NaN,"CHF 3.480,-",Power Boats,Fishing Boat,Marine power boats,NaN,NaN,4.13 m,1.41 m,NaN,59 kg,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,bis 10 PS motorisierbar (Permission for Lake o...,NaN,NaN,NaN,NaN,NaN,NaN,145,NaN,A durable and sleek rowing and motor boat with...,2020-03-10,3480.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,25 De Luxe,Used boat,1975.0,Netherlands » Lemmer,NaN,"EUR 14.000,-",Power Boats,Cabin Boat,Albin power boats,NaN,NaN,7.60 m,2.60 m,0.80 m,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120,Sailing in spring in a reefed Albin 25 De Luxe...,NaN,2020-05-28,14700.00
261,570 OPEN Nuova,Used boat,2020.0,Italy » Lake Garda » LOMBARDIA,"Anchor,Bilge Pump,Compass,Navigation lights","EUR 10.200,-",Power Boats,Fishing Boat,AS Marine power boats,NaN,NaN,5.70 m,2.10 m,NaN,630 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 x 100 HP / 74 kW,1 x 100 HP / 74 kW,NaN,NaN,NaN,NaN,NaN,193,NaN,"General Features:,Building site and model: AS ...",2020-02-03,10710.00
262,Powerboats,"Used boat,Unleaded",1980.0,Switzerland » Faoug,NaN,"CHF 9.900,-",Power Boats,Sport Boat,Sunseeker power boats,NaN,good,6.90 m,2.45 m,NaN,NaN,NaN,7.0,1.0,NaN,white BRAUN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser MCM 470 (Permission for Lake of Con...,2 x 190 HP / 140 kW,NaN,Unleaded,NaN,NaN,NaN,565,NaN,BODENSEE APPROVAL - Very good quality Sunseeke...,2020-05-04,9900.00
263,Giuliani Capitan,", ,, ,Used boat,Unleaded",1973.0,France » Île de France » a terre sur la remorque,"Anchor,Bilge Pump,Bimini Top,Cockpit Cover,Fir...","EUR 9.000,-",Power Boats,"Classic,Sport Boat,Water ski",NaN,NaN,very good,4.63 m,1.77 m,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,mercury,1 x 50 HP / 37 kW,100 l,Unleaded,52 h,NaN,NaN,288,NaN,boat in very good condition. prestige model (t...,2020-11-14,9450.00
264,Maxima Boats 490,"Used boat,Unleaded",2020.0,Germany » DE,NaN,"EUR 6.450,-",Power Boats,Launch,NaN,Maxima,NaN,4.90 m,1.90 m,0.30 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 x 40 HP / 29 kW,1 x 40 HP / 29 kW,NaN,Unleaded,NaN,NaN,NaN,150,NEUBOOT - ab ? 6.450*Basisbootpreis ohne Optio...,NaN,2020-12-18,6772.50

In [ ]:
# Split train_val in train & val (for training & validation)

from sklearn.model_selection import train_test_split # sklearn is like panda or numpy, another function package

# split train_val into two separate tables
# we can think about the test sizes --> below we chose 1/3 / random sample selection from the source table? typically 60-80% is used as this should be sufficient to capture the key drivers
# capture all key features of the population

# Validation Dataset = 33% der Gesamtpopulation
# Training Dataset = 67% der Gesamtpopulation (hiermit wird der Trainingsalgorithmus gefüttert)

train, validation = train_test_split(train_val, test_size=0.33, random_state=42)

In [ ]:
# Check for successful split

print(train.shape)
print(validation.shape)
print(train_val.shape)
print(3256+1604)

(3256, 39)
(1604, 39)
(4860, 39)
4860