<a href="https://colab.research.google.com/github/D0MOVF/DATA_ACADEMY/blob/main/DATA_ACADEMY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Example

In [1]:
# Run everytime I log into Colab --> needed to pull files from Kaggle!

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

# Upon running, need to "CHOOSE FILE" in Documents/Kaggle.JSON

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 86% 10.0M/11.6M [00:00<00:00, 101MB/s]
100% 11.6M/11.6M [00:00<00:00, 111MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 20.5MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv
Downloading large-boatyacht-pricing-dataset.zip to /content
  0% 0.00/6.22M [00:00<?, ?B/s]
100% 6.22M/6.22M [00:00<00:00, 221MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [ ]:
7+3

10

In [ ]:
#Python is a calculator
7+3
#It always only outputs the result of the LAST calculation
8*2

16

In [ ]:
21**2 # Exponential
21^2 # Exponential
21%2 # Modulo - Geteilt durch 2 + was ist der Rest --> Modulo ist der Rest; e.g. 23%3 = 23/3 --> Modulo = Rest 2?

1

In [ ]:
#Assign a number to an OBJECT (variable / constant)
obj_G = 2 # Assign value 2 to object "obj_G" by using "=" / equal sign
print(obj_G)

2

In [ ]:
#Boolean
obj_G == 1 # Logical test: is obj_G = 1? NO, as above it was stated that it is 2!
!= is NOT EQUAL

False

In [ ]:
#Other Logical operators
obj_G >= 3
obj_G <= 2
obj_G < 1

False

In [ ]:
#SAS is NOT case-sensitive --> Caps / lower characters DO NOT MATTER
#Python IS case-sensitive! Beautiful =/ BeAuTiFuL ! Need to be very careful!
Beautiful = 1 #Declare
BeAuTiFuL = 2 #Declare
Beautiful == BeAuTiFuL #Logical test --> False!

False

In [ ]:
#Data Types
#1) LISTS - Objects defined in square brackets [] = Array! Held values need to be defined in double apostrophes!
Cities = ["Paris", "Zurich", "Rome","Berlin"]
"London" in Cities #Check if String "London" is part of the defined list/array
"London" not in Cities
print(Cities) #Display list contents
type(Cities) #Check Data type of the Object!

#Access values within a list - First entry in a list is always location 0! Python is 0 based!
Cities [0] # will access/select the first entry within a list.
Cities [-1] # counts backwards, i.e. always shows the LAST entry of a list

# List value substitution
Cities[-1] = "Milan" # substitute values within a list
print(Cities) 

# List value insertion
Cities.insert(2, "Hong Kong") # extends list with a new value at designated location
print(Cities)

# List value append
Cities.append("Rio de Janeiro") # appends a new value --> per default always BY THE END!
print(Cities)

# List value removal/deletion
Cities.remove("Paris") # deletes the FIRST string of a list! 
print(Cities)

# Insertion of numerical values into a list
Cities.insert(2, 100) #100 is numerical, "100" if you want it to be a string
print(Cities)

# KEY: Lists can hold ANY type of value - SICK!
type(Cities[2]) #can tell you the format/data type of an object within a list by providing the relative position in the list: position [2] = 100 = int (for integer); [3] = str (for string)

# Index position of list values
Cities.index("Milan") # position = 4, which is the fifth value (as Python is 0 based)

# Concatenation of lists by using the + operator
New_list = [1,3,5,2]
Cities2 = Cities + New_list # Concatenate x number of lists by "+"
print(Cities2)

# Note: lists are defined by square brackets [] --> these values can be targeted and swapped, extended, changed etc.
# Note: lists can be also be defined by regular brackets () --> these are called "tuples" and its values CANNOT change! Don't use it, as less flexible

['Paris', 'Zurich', 'Rome', 'Berlin']
['Paris', 'Zurich', 'Rome', 'Milan']
['Paris', 'Zurich', 'Hong Kong', 'Rome', 'Milan']
['Paris', 'Zurich', 'Hong Kong', 'Rome', 'Milan', 'Rio de Janeiro']
['Zurich', 'Hong Kong', 'Rome', 'Milan', 'Rio de Janeiro']
['Zurich', 'Hong Kong', 100, 'Rome', 'Milan', 'Rio de Janeiro']
['Zurich', 'Hong Kong', 100, 'Rome', 'Milan', 'Rio de Janeiro', 1, 3, 5, 2]

In [ ]:
# Conditions

val = -11 # can also hold calculations; e.g. 0-11 = -11

if val > 0: # colon is basically "then"
  print('The value is positive')

elif val < 0: # elif = else if
  print('The value is negative')

elif val < -10:
  print('Very low')

else: # final if condition with else
  print('The value equals 0')

# KEY: Python will only output the FIRST condition that is met. I.e. -11 will trigger 'The value is negative' --> not jump to 'Very low' as already satisfied

The value is negative

In [ ]:
# Need to take into account the ORDER of conditions to not stop and produce a wrong output!
# CASE when with nested if conditions does exist too! Preference to use this as it could avoid reordering issues!!!

val = -11 # can also hold calculations; e.g. 0-11 = -11

if val > 0: # colon is basically "then"
  print('The value is positive')

elif val < -10:
  print('Very low')

elif val < 0: # elif = else if
  print('The value is negative')

else: # final if condition with else
  print('The value equals 0')

Very low

In [ ]:
# Logical expressions for if:
# a == b: is a equal to b
# a != b: is a different from b
# a <= b: is a lower or equal than b
# a >= b: is a greater or equal than b
# a < b: is a strictly lower than b
# a > b: is a strictly greater than b
# a is b: is a the same object as b
# condition_a and condition_b: logical AND
# condition_a or condition_b: logical OR
# not: negation

In [ ]:
# FOR LOOP

fruits = ['apple', 'pear', 'cherry']
for element in fruits: # colon : is equal to "then"
  # print(fruits) # print exact contents
  print(element) # an element is every object within a list

# NESTED LOOPS (Loops within loops)

list_of_list = [['a', 'b', 'c'], [1,2,3]] # this list consists of TWO Elements! Both element contents in brackets and separated by a comma
# print(list_of_list)

for sub_list in list_of_list:
  print("We treat the list: ", sub_list)

  for element in sub_list:
    print('We display the element: ', element)

apple
pear
cherry
We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
fruits = ['apple', 'pear', 'cherry']
for i in fruits: # colon : is equal to "then"
  i = 'banana'
  print(i) 

  #

banana
banana
banana

In [ ]:
# KEY: Need to be really careful of indents!
# KEY: Indent (ONLY EVER 1) determines nesting level

list_of_list = [['a', 'b', 'c'], [1,2,3]] # this list consists of TWO Elements! Both element contents in brackets and separated by a comma
# print(list_of_list)

for sub_list in list_of_list: #no indent # sub_list = subject
  print("We treat the list: ", sub_list)

  for element in sub_list: #indent 1 tab --> first nesting level
    print('We display the element: ', element)




# Note: Other type of loops: WHILE LOOPS

We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
# FUNCTIONS

# E.g. .append / .insert etc. are built-in functions
# Python requires functions to perform basic actions - like importing a .csv file - these functions are located within "packages"/part of "libraries"
# We need to call these libraries of functions --> don't have to write these functions ourselves! Just call them with a single line of code
# Writing my own functions only ever comes up for very specific requirements / for which no libraries/function packages exist

#Functions are objects themselves
#Variables as part of a function do NOT exist outside of the function!

#Functions start with "def" --> "define"
#Then comes the name of the function
#In parentheses, state the variables of the function, e.g. a/b/c, length/width etc.
#Optional variables to a function: declare variable = None, for example: a, b=None --> can still use the function and assign a value to b, but function will work without it!


def awesome_dominik_function_to_calculate_area(a, b):
  '''
  Function to calculate the area of a rectangle
  
  Parameters:
  a = length
  b = width
  '''
  
  # three ''' create lines which can hold descriptions, e.g. the purpose of the function! Useful documentation!

  my_area = a*b

  return my_area # be careful of indents!

In [ ]:
# Create an object which holds the result of the function + print the output

area1 = awesome_dominik_function_to_calculate_area(10,8)
print(area1)

area2 = awesome_dominik_function_to_calculate_area(85, 91)
print(area2)

area3 = area2 - area1
print(area3)
type(area3)

80
7735
7655

int

In [ ]:
# Remove identical values from a list with a loop
# List comprehension

last_list = [0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9] # let us delete all the 888's
print(last_list)
# Define value to be deleted
valueToBeRemoved = 888

last_list2 = last_list
# Loop through entire list to only retain values which are DIFFERENT to valueToBeRemoved
# Entirely depends on the operator: != only where NOT 888 whereas == only where IS 888
last_list = [value for value in last_list if value != valueToBeRemoved]
print(last_list)

last_list2 = [value for value in last_list2 if value == valueToBeRemoved]
print(last_list2)

[0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[888, 888, 888]

In [ ]:
# Data Science Academy (Advanced) - Session 3/7

In [ ]:
# Run everytime I log into Colab --> needed to pull files from Kaggle!

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

# Upon running, need to "CHOOSE FILE" in Documents/Kaggle.JSON

In [2]:
# Need to run the above Kaggle.json import procedure first!
# Script below makes the source data more complex --> introduce more problems!

import pandas as pd # package import - library to manipulate databases
import io
import numpy as np # package import - library to manipulate numbers written in C
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [7]:
# Display entries of the imported database called df

df.head(10) #specifies how many rows to show with header being 1 row
df.head() #per default shows 5 rows - header = 1 + 4 content rows

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,1.90 m,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,226,NaN,Possibility to arrange it with a complete luxu...,NaN,2021-08-11
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN,2020-08-19
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,1.42 m,0.25 m,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa ZH,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN,2021-01-06
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN,2020-08-01
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,2.50 m,0.75 m,2'000 kg,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inboard with Shaft,VolvoPenta MD 2002,1 x 18 HP / 13 kW,50 l,NaN,500 h,NaN,NaN,Nordsee » Västra Frölunda,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C...",2021-05-05

In [19]:
# CRUCIAL OVERVIEW FUNCTIONS
# Check dimensions of database

df.shape

# Check types of columns

df.dtypes # object = String, float64 = double?
# Some numbers are incorrectly identified as object, i.e. string due to , . !
# Needs cleaning!

# Check Basic Descriptive Statistics of Numerical and Non-Numerical Values

df.describe() # Descriptive Statistics, such as Count, Average, Std, Min, Max, Quartiles ONLY for numeric columns!
df.describe(include='all') # Descriptive Statistics for ALL columns irrespective of format

# Information of generic nature, such as total rows, NULL values, data type

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  object
dtypes: float64(7), object(31)
memory usage: 3.1+ MB

In [60]:
# DATA MANIPULATION IN PYTHON


# Open a Database and output a specific column = Vector

df['Year Built'].head() # single square brackets

# Open a Database and output TWO specific columns = Array

df[['Year Built','Model']].head() # TWO square brackets!

# Open a Database and output N columns with N >= 2

df[['Year Built','Model','Category']].head() # TWO square brackets suffice for more than 2 columns


# Selecting specific lines w/ conditions to output Booleans

mask1 = df['Year Built'] > 2000 # assign a boolean
mask1 # output booleans
mask1.dtype # type 'bool'
df[mask1].head() # filter dataset with boolean logic
df[mask1].min() # check if 'Year Built' is indeed only larger than 2000!

# Combine boolean condition AND filter = replaces the extra step with declaring mask1

df[df['Year Built'] > 2000].head(3)

# Check for the two ways producing the identical output
df[mask1] == df[df['Year Built'] > 2000]




# Advanced Functions

mask2 = df['Year Built'].between(2001,2005, inclusive="both")
mask2
df[mask2].head(5)
df[mask2].describe()

# Same as:
df[df['Year Built'].between(2001,2005, inclusive="both")].head(5)

# Select X columns to show after filtered condition
df[mask2]['Category'].head(2)
df[mask2][['Category','Fuel Type']]




# Complex Conditions

# & --> AND
# | --> OR

# Beware of where to set brackets! Same priority and logic as in SQL / SAS

mask3 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) 
df[mask3].head()
df[mask3].describe()

# Same as:
df[((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2)].head()




# Categorical Conditions

# KEY: If an entry is missing, it will not be filtered and is thus removed in the output dataset - same as with SAS / SQL
# KEY: To include missing values --> include this specific condition via an OR statement: (df['Column'].isna()) = saying you want to keep these values!

mask4 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & ((df['Number of Cabins'] <= 2) | (df['Number of Cabins'].isna()))
df[mask4].head()
df[mask4].describe()

mask5 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type'] == 'Diesel')
df[mask5].head()
df[mask5].describe(include='all')

# Using Lists as filter conditions - .isin OR ~ .isin = NOT IN

# .isin (IN LIST)

list_cat_to_keep=['Diesel','Electric']

mask5 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type'].isin(list_cat_to_keep))
df[mask5].head(2)
# df[mask5].describe(include='all')

df[mask5]['Fuel Type'].unique() # shows unique entries



# ~ .isin (NOT IN LIST)

list_cat_to_keep=['Diesel','Electric']

mask6 = ((df['Year Built'] <= 2001) | (df['Year Built'] >= 2011)) & (df['Number of Cabins'] <= 2) & (~df['Fuel Type'].isin(list_cat_to_keep))
df[mask6].head(2)
df[mask6]['Fuel Type'].unique() # shows unique entries

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

array(['Unleaded', nan, 'Hybrid', 'Gas'], dtype=object)

In [66]:
# Value_Counts - to count the occurrence of legitimate entries within a specified column or N columns (WITHOUT NULL VALUES!)

# Basic Summary

df['Fuel Type'].value_counts()

# Including NULL Values (= NaN)

df['Fuel Type'].value_counts(dropna=False)

# Normalized i.e. % share

df['Fuel Type'].value_counts(normalize=True, dropna=False)
df['Fuel Type'].value_counts(normalize=True, dropna=False)*100 # to get percent in abs.

# Reformat output

np.round(df['Fuel Type'].value_counts(normalize=True, dropna=False)*100, decimals=2) # set decimal count with NP function!

Diesel      46.00
Unleaded    30.83
NaN         22.45
Electric     0.53
Gas          0.16
Hybrid       0.02
Propane      0.01
Name: Fuel Type, dtype: float64

In [71]:
# Data Type Transformation

# Update existing column by a PD function (could also create an entirely new column though)

df['Advertisement Date'].head() # read format from the dataset first
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d' ) # replicate the present dataset dateformat exactly as it is so that Python can understand it before re-formatting

# KEY RESOURCE: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

# New Column:

# df['Advertisement Date 2'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d' )

df.info() # to check formatting has worked

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(7), object(30)
memory usage: 3.1+ MB

In [80]:
# Data Cleaning

# Assorted 'dirty' Columns

df['Length'].unique()
df['Engine Hours'].unique()
df['Fresh Water Cap'].unique()

# Cleaning column 'Length' by updating it with a function - .str.rstrip = strips away a specific substring FROM THE RIGHT!
# There's also a .str.lstrip to cut leading substrings that are uniformally available in all rows

df['Length'] = df['Length'].str.rstrip(' m')
df['Length'].unique()

# Issue: no more string values, but still an object! Must tell Python that it can interpret it as a decimal
# Using pd.to_numeric function

df['Length'] = pd.to_numeric(df['Length'])

AttributeError: ignored

In [82]:
df['Length'].unique()
df['Length'].dtypes
df['Length'].head(10)

0    4.00
1    4.00
2    3.69
3    3.00
4    6.30
5    3.55
6    4.03
7    6.20
8    3.00
9    3.64
Name: Length, dtype: float64

In [83]:
# Cleaning of the other columms by use of a function

df['Engine Hours'].unique()
df['Fresh Water Cap'].unique()

# declare a function start

def format_series(series, char):
  
  '''
  Description
  '''
  new_series = series.str.rstrip(char)
  new_series = pd.to_numeric(new_series)

  return new_series

In [86]:
df[['Width','Depth']].head()

# Use a loop to adjust multiple columns at once

for col in ['Width','Depth']:
  df[col] = format_series(df[col], ' m')

AttributeError: ignored

In [87]:
df[['Width','Depth']].head()

   Width  Depth
0   1.90    NaN
1   1.50    NaN
2   1.42   0.25
3   1.00    NaN
4   2.50   0.75

In [88]:
# Do the same for 'Engine Hours' 
# And for 'Fresh Water Cap', 'Holding Tank', 'Fuel Capacity'

df['Engine Hours'] = format_series(df['Engine Hours'], ' h')

for col in ['Fresh Water Cap', 'Holding Tank', 'Fuel Capacity']:
  df[col] = format_series(df[col], ' l')

In [90]:
df[['Engine Hours','Fresh Water Cap', 'Holding Tank', 'Fuel Capacity']].head(10)

   Engine Hours  Fresh Water Cap  Holding Tank  Fuel Capacity
0           NaN              NaN           NaN            NaN
1           NaN              NaN           NaN            NaN
2           NaN              NaN           NaN            NaN
3           NaN              NaN           NaN            NaN
4         500.0              NaN           NaN           50.0
5           NaN              NaN           NaN            NaN
6           NaN              NaN           NaN            NaN
7           NaN              NaN           NaN           40.0
8           NaN              NaN           NaN            NaN
9           NaN              NaN           NaN            NaN

In [92]:
# Renaming Columns

# .rename(columns={current column name : new column name})

df = df.rename(columns={'Length':'Length (m)', 'Width' : 'Width (m)', 'Depth' : 'Depth (m)'})

In [94]:
df.dtypes

# Filtering of Constants, i.e. identical values across all rows

col_object_l = df.select_dtypes(include='object').columns # Stock les colonnes
for col in col_object_l:
    print(f"Column {col} has {df[col].nunique()} categories\n") # .nunique = number of unique values/categories

    # Result = Column 'Category' has only 1 value/categories --> can be dropped

Column Price has 3283 categories

Column Category has 1 categories

Column Boat Type has 135 categories

Column Manufacturer has 932 categories

Column Model has 7458 categories

Column Boat name has 1258 categories

Column Type has 36 categories

Column Condition has 10 categories

Column Displacement has 1380 categories

Column CE Design Category has 4 categories

Column Hull Color has 377 categories

Column Material has 11 categories

Column Propulsion has 8 categories

Column Engine has 4752 categories

Column Engine Performance has 843 categories

Column Fuel Type has 6 categories

Column Max Speed has 99 categories

Column Cruising Speed has 57 categories

Column Location has 3177 categories

Column Number of views last 7 days has 680 categories

Column Comments has 6631 categories

Column Additional Comments has 2410 categories

Column Equipment has 5301 categories

In [95]:
# Delete Columns

list_col_to_delete_part1 = ['Category','Displacement','Number of views last 7 days','Additional Comments']

# Also, if there are columns that are non-understandable, it is recommendable to delete them
# Rationale: These columns are NON-DESCRIPTIVE of the price of the boat itself --> we delete it in order to have better data for feeding it into our predictive model
# These variables are not correlated to price at all, potentially
# Assumes the price can perfectly be predicted with all the remaining variables that will remain after cleaning

df = df.drop(columns = list_col_to_delete_part1, inplace = True)