<a href="https://colab.research.google.com/github/D0MOVF/DATA_ACADEMY/blob/main/DATA_ACADEMY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Example

In [ ]:
# Run everytime I log into Colab --> needed to pull files from Kaggle!

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

# Upon running, need to "CHOOSE FILE" in Documents/Kaggle.JSON

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 77% 9.00M/11.6M [00:00<00:00, 70.9MB/s]
100% 11.6M/11.6M [00:00<00:00, 86.5MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 20.7MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv
Downloading large-boatyacht-pricing-dataset.zip to /content
  0% 0.00/6.22M [00:00<?, ?B/s]
100% 6.22M/6.22M [00:00<00:00, 78.8MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [ ]:
7+3

10

In [ ]:
#Python is a calculator
7+3
#It always only outputs the result of the LAST calculation
8*2

16

In [ ]:
21**2 # Exponential
21^2 # Exponential
21%2 # Modulo - Geteilt durch 2 + was ist der Rest --> Modulo ist der Rest; e.g. 23%3 = 23/3 --> Modulo = Rest 2?

1

In [ ]:
#Assign a number to an OBJECT (variable / constant)
obj_G = 2 # Assign value 2 to object "obj_G" by using "=" / equal sign
print(obj_G)

2

In [ ]:
#Boolean
obj_G == 1 # Logical test: is obj_G = 1? NO, as above it was stated that it is 2!
!= is NOT EQUAL

False

In [ ]:
#Other Logical operators
obj_G >= 3
obj_G <= 2
obj_G < 1

False

In [ ]:
#SAS is NOT case-sensitive --> Caps / lower characters DO NOT MATTER
#Python IS case-sensitive! Beautiful =/ BeAuTiFuL ! Need to be very careful!
Beautiful = 1 #Declare
BeAuTiFuL = 2 #Declare
Beautiful == BeAuTiFuL #Logical test --> False!

False

In [ ]:
#Data Types
#1) LISTS - Objects defined in square brackets [] = Array! Held values need to be defined in double apostrophes!
Cities = ["Paris", "Zurich", "Rome","Berlin"]
"London" in Cities #Check if String "London" is part of the defined list/array
"London" not in Cities
print(Cities) #Display list contents
type(Cities) #Check Data type of the Object!

#Access values within a list - First entry in a list is always location 0! Python is 0 based!
Cities [0] # will access/select the first entry within a list.
Cities [-1] # counts backwards, i.e. always shows the LAST entry of a list

# List value substitution
Cities[-1] = "Milan" # substitute values within a list
print(Cities) 

# List value insertion
Cities.insert(2, "Hong Kong") # extends list with a new value at designated location
print(Cities)

# List value append
Cities.append("Rio de Janeiro") # appends a new value --> per default always BY THE END!
print(Cities)

# List value removal/deletion
Cities.remove("Paris") # deletes the FIRST string of a list! 
print(Cities)

# Insertion of numerical values into a list
Cities.insert(2, 100) #100 is numerical, "100" if you want it to be a string
print(Cities)

# KEY: Lists can hold ANY type of value - SICK!
type(Cities[2]) #can tell you the format/data type of an object within a list by providing the relative position in the list: position [2] = 100 = int (for integer); [3] = str (for string)

# Index position of list values
Cities.index("Milan") # position = 4, which is the fifth value (as Python is 0 based)

# Concatenation of lists by using the + operator
New_list = [1,3,5,2]
Cities2 = Cities + New_list # Concatenate x number of lists by "+"
print(Cities2)

# Note: lists are defined by square brackets [] --> these values can be targeted and swapped, extended, changed etc.
# Note: lists can be also be defined by regular brackets () --> these are called "tuples" and its values CANNOT change! Don't use it, as less flexible

['Paris', 'Zurich', 'Rome', 'Berlin']
['Paris', 'Zurich', 'Rome', 'Milan']
['Paris', 'Zurich', 'Hong Kong', 'Rome', 'Milan']
['Paris', 'Zurich', 'Hong Kong', 'Rome', 'Milan', 'Rio de Janeiro']
['Zurich', 'Hong Kong', 'Rome', 'Milan', 'Rio de Janeiro']
['Zurich', 'Hong Kong', 100, 'Rome', 'Milan', 'Rio de Janeiro']
['Zurich', 'Hong Kong', 100, 'Rome', 'Milan', 'Rio de Janeiro', 1, 3, 5, 2]

In [ ]:
# Conditions

val = -11 # can also hold calculations; e.g. 0-11 = -11

if val > 0: # colon is basically "then"
  print('The value is positive')

elif val < 0: # elif = else if
  print('The value is negative')

elif val < -10:
  print('Very low')

else: # final if condition with else
  print('The value equals 0')

# KEY: Python will only output the FIRST condition that is met. I.e. -11 will trigger 'The value is negative' --> not jump to 'Very low' as already satisfied

The value is negative

In [ ]:
# Need to take into account the ORDER of conditions to not stop and produce a wrong output!
# CASE when with nested if conditions does exist too! Preference to use this as it could avoid reordering issues!!!

val = -11 # can also hold calculations; e.g. 0-11 = -11

if val > 0: # colon is basically "then"
  print('The value is positive')

elif val < -10:
  print('Very low')

elif val < 0: # elif = else if
  print('The value is negative')

else: # final if condition with else
  print('The value equals 0')

Very low

In [ ]:
# Logical expressions for if:
# a == b: is a equal to b
# a != b: is a different from b
# a <= b: is a lower or equal than b
# a >= b: is a greater or equal than b
# a < b: is a strictly lower than b
# a > b: is a strictly greater than b
# a is b: is a the same object as b
# condition_a and condition_b: logical AND
# condition_a or condition_b: logical OR
# not: negation

In [ ]:
# FOR LOOP

fruits = ['apple', 'pear', 'cherry']
for element in fruits: # colon : is equal to "then"
  # print(fruits) # print exact contents
  print(element) # an element is every object within a list

# NESTED LOOPS (Loops within loops)

list_of_list = [['a', 'b', 'c'], [1,2,3]] # this list consists of TWO Elements! Both element contents in brackets and separated by a comma
# print(list_of_list)

for sub_list in list_of_list:
  print("We treat the list: ", sub_list)

  for element in sub_list:
    print('We display the element: ', element)

apple
pear
cherry
We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
fruits = ['apple', 'pear', 'cherry']
for i in fruits: # colon : is equal to "then"
  i = 'banana'
  print(i) 

  #

banana
banana
banana

In [ ]:
# KEY: Need to be really careful of indents!
# KEY: Indent (ONLY EVER 1) determines nesting level

list_of_list = [['a', 'b', 'c'], [1,2,3]] # this list consists of TWO Elements! Both element contents in brackets and separated by a comma
# print(list_of_list)

for sub_list in list_of_list: #no indent # sub_list = subject
  print("We treat the list: ", sub_list)

  for element in sub_list: #indent 1 tab --> first nesting level
    print('We display the element: ', element)




# Note: Other type of loops: WHILE LOOPS

We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
# FUNCTIONS

# E.g. .append / .insert etc. are built-in functions
# Python requires functions to perform basic actions - like importing a .csv file - these functions are located within "packages"/part of "libraries"
# We need to call these libraries of functions --> don't have to write these functions ourselves! Just call them with a single line of code
# Writing my own functions only ever comes up for very specific requirements / for which no libraries/function packages exist

#Functions are objects themselves
#Variables as part of a function do NOT exist outside of the function!

#Functions start with "def" --> "define"
#Then comes the name of the function
#In parentheses, state the variables of the function, e.g. a/b/c, length/width etc.
#Optional variables to a function: declare variable = None, for example: a, b=None --> can still use the function and assign a value to b, but function will work without it!


def awesome_dominik_function_to_calculate_area(a, b):
  '''
  Function to calculate the area of a rectangle
  
  Parameters:
  a = length
  b = width
  '''
  
  # three ''' create lines which can hold descriptions, e.g. the purpose of the function! Useful documentation!

  my_area = a*b

  return my_area # be careful of indents!

In [ ]:
# Create an object which holds the result of the function + print the output

area1 = awesome_dominik_function_to_calculate_area(10,8)
print(area1)

area2 = awesome_dominik_function_to_calculate_area(85, 91)
print(area2)

area3 = area2 - area1
print(area3)
type(area3)

80
7735
7655

int

In [ ]:
# Remove identical values from a list with a loop
# List comprehension

last_list = [0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9] # let us delete all the 888's
print(last_list)
# Define value to be deleted
valueToBeRemoved = 888

last_list2 = last_list
# Loop through entire list to only retain values which are DIFFERENT to valueToBeRemoved
# Entirely depends on the operator: != only where NOT 888 whereas == only where IS 888
last_list = [value for value in last_list if value != valueToBeRemoved]
print(last_list)

last_list2 = [value for value in last_list2 if value == valueToBeRemoved]
print(last_list2)

[0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[888, 888, 888]